Repository wix/react-native-navigation, pull requests merged in 2018-04, with the labels that each got.

#2942 remove default values
  lib/android/app/src/main/java/com/reactnativenavigation/parse/BottomTabOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/BottomTabsOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/DEFAULT_VALUES.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/FabOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/Options.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/TopBarOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/TopTabOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/TopTabsOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/ValueAnimationOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/params/Button.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/TopBarButtonController.java
Labels: Android, v2

#2975 V1 [iOS/Android] Feature/async dismiss modal
  android/app/src/main/java/com/reactnativenavigation/bridge/NavigationReactModule.java
  android/app/src/main/java/com/reactnativenavigation/controllers/NavigationCommandsHandler.java
  src/deprecated/platformSpecificDeprecated.android.js
  src/deprecated/platformSpecificDeprecated.ios.js
  src/platformSpecific.android.js
Labels: v1

#2974 [v2] Restore layout params for bottom tabs children
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsController.java
Labels: v2

#2997 V2 custom component refactor
  lib/android/app/src/main/java/com/reactnativenavigation/parse/Component.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/TitleOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/TopBarBackgroundOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/TopBarOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/params/Button.java
  lib/android/app/src/main/java/com/reactnativenavigation/presentation/OptionsPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/TitleBarReactViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/TopBarButtonController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/topbar/TopBarBackgroundViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/titlebar/TitleBar.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/topbar/TopBar.java
  lib/android/app/src/test/java/com/reactnativenavigation/parse/OptionsTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/OptionsApplyingTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/OptionsMergingTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/TitleBarTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/TopBarButtonControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/views/TopBarBackgroundComponentTest.java
  lib/ios/RNNBackgroundOptions.h
  lib/ios/RNNComponentOptions.h
  lib/ios/RNNComponentOptions.m
  lib/ios/RNNNavigationButtons.m
  lib/ios/RNNNavigationOptions.m
  lib/ios/RNNOptions.m
  lib/ios/RNNReactRootViewCreator.m
  lib/ios/RNNRootViewController.m
  lib/ios/RNNRootViewCreator.h
  lib/ios/RNNTitleOptions.h
  lib/ios/RNNTopBarOptions.h
  lib/ios/RNNTopBarOptions.m
  lib/ios/RNNTransitionsOptions.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  lib/src/commands/Commands.test.ts
  lib/src/commands/Commands.ts
  lib/src/commands/LayoutTreeCrawler.ts
  lib/src/commands/LayoutType.test.ts
  lib/src/commands/OptionsProcessor.test.ts
  lib/src/commands/OptionsProcessor.ts
  playground/src/screens/OptionsScreen.js
  playground/src/screens/TopBarBackground.js
Labels: Android, iOS, v2

#3006 Added "screenBackgroundColor" setting
  lib/android/app/src/main/java/com/reactnativenavigation/parse/Options.java
  lib/android/app/src/main/java/com/reactnativenavigation/presentation/ComponentOptionsPresenter.java
  lib/android/app/src/test/java/com/reactnativenavigation/parse/OptionsTest.java
Labels: Android, v2

#3035 Add ability to set badge=null to hide it
  lib/ios/RNNBottomTabOptions.m
Labels: iOS, v2

#3033 Fix when a title image has nil or NSNull
  ios/Helpers/RCCTitleViewHelper.m
Labels: v1

#2991 Migrate to react v16.3 lifecycle
  lib/src/components/ComponentWrapper.tsx
  package.json
Labels: v2

#3086 Update package.json to reference typings
  package.json
Labels: v2

#3071 fix(TopTabOptions): fixed attribute naming for parser
  lib/android/app/src/main/java/com/reactnativenavigation/parse/TopTabsOptions.java
Labels: Android, v2

#3080 [v2] Remove hardcoded title.fontSize to reset to defaults
  lib/ios/RNNTitleOptions.m
Labels: iOS, v2

#3084 IOS: modal tab bar scene and modalTransitionStyle
  lib/ios/RNNModalManager.m
  lib/ios/RNNNavigationOptions.h
  lib/ios/RNNNavigationOptions.m
  lib/ios/RNNRootViewController.m
  lib/ios/RNNRootViewProtocol.h
Labels: iOS, v2

#3098 Update import to <React/**.h>
  lib/ios/RNNSideMenu/RCCDrawerController.h
Labels: v2
