Repository wix/react-native-navigation, pull requests merged in 2018-09, with the labels that each got.

#3877 [V2] Added sideMenu style options similar to V1 options
  docs/docs/styling.md
  lib/ios/RNNSideMenuSideOptions.h
  lib/ios/RNNSideMenuSideOptions.m
Labels: platform: iOS, v2

#3930 Merge options
  lib/android/app/src/main/java/com/reactnativenavigation/parse/Options.java
  lib/android/app/src/main/java/com/reactnativenavigation/react/NavigationModule.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/ChildController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/ComponentViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/Navigator.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/ViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalStack.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackController.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/ComponentViewControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/FloatingActionButtonTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/NavigatorTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/TopTabsViewControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/child/ChildControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalStackTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackControllerTest.java
  lib/ios/RNNBridgeModule.m
  lib/ios/RNNCommandsHandler.h
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNModalManager.h
  lib/ios/RNNModalManager.m
  lib/ios/ReactNativeNavigationTests/RNNCommandsHandlerTest.m
  lib/ios/ReactNativeNavigationTests/RNNModalManagerTest.m
  lib/src/Navigation.ts
  lib/src/adapters/NativeCommandsSender.ts
  lib/src/commands/Commands.test.ts
  lib/src/commands/Commands.ts
Labels: platform: Android, platform: iOS, v2

#3913 [V2] Allow TopBar -> Background -> Clip To Bounds option
  docs/README.md
  docs/docs/options-migration.md
  lib/ios/RNNBackgroundOptions.h
  lib/ios/RNNRootViewController.m
  lib/ios/ReactNativeNavigationTests/RNNRootViewControllerTest.m
  lib/src/interfaces/Options.ts
Labels: platform: iOS, v2

#3708 [v2] Refactor preview api
  docs/docs/animations.md
  docs/docs/events.md
  docs/docs/styling.md
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNEventEmitter.h
  lib/ios/RNNEventEmitter.m
  lib/ios/RNNPreviewOptions.h
  lib/ios/RNNRootViewController.h
  lib/ios/RNNRootViewController.m
  lib/ios/ReactNativeNavigation.h
  lib/src/Navigation.ts
  lib/src/adapters/NativeEventsReceiver.ts
  lib/src/adapters/TouchablePreview.tsx
  lib/src/events/ComponentEventsObserver.test.tsx
  lib/src/events/ComponentEventsObserver.ts
  lib/src/events/EventsRegistry.test.tsx
  lib/src/events/EventsRegistry.ts
  lib/src/interfaces/ComponentEvents.ts
  playground/src/screens/Button.js
  playground/src/screens/PushedScreen.js
  playground/src/screens/WelcomeScreen.js
Labels: platform: iOS, v2

#3980 Add BottomTabs elevation option
  docs/docs/styling.md
  lib/android/app/src/main/java/com/reactnativenavigation/parse/BottomTabsOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/presentation/BottomTabsOptionsPresenter.java
  lib/src/interfaces/Options.ts
Labels: platform: Android, v2

#3999 Fix backButton properties on iOS
  lib/ios/RNNBackButtonOptions.m
  lib/src/interfaces/Options.ts
Labels: platform: iOS, v2
