Repository wix/react-native-navigation, pull requests merged in 2018-06, with the labels that each got.

#3303 [v2][ios11, ios12] Add searchBar option for topBar
  docs/docs/events.md
  docs/docs/styling.md
  e2e/ScreenStyle.test.js
  lib/ios/RNNEventEmitter.h
  lib/ios/RNNEventEmitter.m
  lib/ios/RNNRootViewController.h
  lib/ios/RNNRootViewController.m
  lib/ios/RNNTopBarOptions.h
  lib/ios/RNNTopBarOptions.m
  lib/src/components/ComponentWrapper.test.tsx
  lib/src/components/ComponentWrapper.tsx
  lib/src/events/ComponentEventsObserver.test.ts
  lib/src/events/ComponentEventsObserver.ts
  playground/src/screens/SearchScreen.js
  playground/src/screens/WelcomeScreen.js
  playground/src/screens/index.js
  playground/src/testIDs.js
Labels: platform: iOS, type: accepted/enhancement, v2

#3342 [BREAKING] Support RN 0.55
  docs/docs/Installing.md
  lib/android/app/build.gradle
  lib/android/app/src/reactNative51/java/com/reactnativenavigation/react/SyncUiImplementation.java
  lib/android/app/src/reactNative55/java/com/reactnativenavigation/react/SyncUiImplementation.java
  package.json
  playground/android/app/build.gradle
  playground/android/build.gradle
  scripts/test-unit.js
Labels: platform: Android, v2

#3343 Migrate to jest
  e2e/ApplicationLifecycleTest.test.js
  e2e/BackHandler.test.js
  e2e/ComplexLayout.test.js
  e2e/CustomTransition.js
  e2e/Modals.test.js
  e2e/Orientations.test.js
  e2e/OverlayTest.test.js
  e2e/ScreenStack.test.js
  e2e/ScreenStyle.test.js
  e2e/StaticLifecycleEvents.test.js
  e2e/TopLevelApi.test.js
  e2e/config.json
  e2e/init.js
  e2e/mocha.opts
  package.json
  scripts/test-e2e.js
  scripts/test-js.js
Labels: v2

#3333 V2 back button refactor
  docs/docs/styling.md
  lib/android/app/src/main/java/com/reactnativenavigation/parse/BackButton.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/LayoutFactory.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/TopBarButtons.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/TopBarOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/params/Button.java
  lib/android/app/src/main/java/com/reactnativenavigation/presentation/StackOptionsPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/Navigator.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/ParentController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/ViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/BackButtonHelper.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackControllerBuilder.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/topbar/TopBarController.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/titlebar/TitleBar.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/topbar/TopBar.java
  lib/android/app/src/test/java/com/reactnativenavigation/TestUtils.java
  lib/android/app/src/test/java/com/reactnativenavigation/utils/OptionHelper.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/BottomTabsControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/ComponentViewControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/FloatingActionButtonTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/NavigatorTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/OptionsApplyingTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/OptionsMergingTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/ParentControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/TitleBarTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/TopBarButtonControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/TopBarControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/TopTabsViewControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/ViewControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/BackButtonHelperTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/views/TopBarBackgroundComponentTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/views/TopBarTest.java
  lib/ios/RNNBackButtonOptions.h
  lib/ios/RNNBackButtonOptions.m
  lib/ios/RNNNavigationOptions.h
  lib/ios/RNNRootViewController.m
  lib/ios/RNNTopBarOptions.h
  lib/ios/RNNTopBarOptions.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  playground/src/screens/CustomTransitionDestination.js
Labels: parity, platform: Android, platform: iOS, v2

#3390 [v2][ios] add onSearchBarCancelPressed Event
  docs/docs/events.md
  lib/ios/RNNEventEmitter.h
  lib/ios/RNNEventEmitter.m
  lib/ios/RNNRootViewController.h
  lib/ios/RNNRootViewController.m
  lib/ios/RNNTopBarOptions.m
  lib/src/components/ComponentWrapper.test.tsx
  lib/src/components/ComponentWrapper.tsx
  lib/src/events/ComponentEventsObserver.test.ts
  lib/src/events/ComponentEventsObserver.ts
Labels: platform: iOS, v2
