Repository wix/react-native-navigation, pull requests merged in 2018-03, with the labels that each got.

#2846 External component
  e2e/ScreenStack.test.js
  lib/android/app/src/main/java/com/reactnativenavigation/NavigationActivity.java
  lib/android/app/src/main/java/com/reactnativenavigation/NavigationApplication.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/ExternalComponent.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/LayoutFactory.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/LayoutNode.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/Options.java
  lib/android/app/src/main/java/com/reactnativenavigation/presentation/FabOptionsPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/presentation/OptionsPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/react/NavigationModule.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/ParentController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/SideMenuController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/StackController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/ViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabFinder.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/externalcomponent/ExternalComponent.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/externalcomponent/ExternalComponentCreator.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/externalcomponent/ExternalComponentViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/toptabs/TopTabsController.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/ExternalComponentLayout.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/StackLayout.java
  lib/android/app/src/test/java/com/reactnativenavigation/parse/OptionsTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/ExternalComponentViewControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/externalcomponent/FragmentCreatorMock.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/externalcomponent/SomeFragment.java
  lib/src/commands/LayoutTreeParser.ts
  playground/android/app/src/main/java/com/reactnativenavigation/playground/FragmentComponent.java
  playground/android/app/src/main/java/com/reactnativenavigation/playground/FragmentCreator.java
  playground/android/app/src/main/java/com/reactnativenavigation/playground/FragmentScreen.java
  playground/android/app/src/main/java/com/reactnativenavigation/playground/MainApplication.java
  playground/android/app/src/main/res/layout/fragment_screen.xml
  playground/src/screens/WelcomeScreen.js
  playground/src/testIDs.js
Labels: v2

#2715 Prevent early reload from assertion crashing navigation
  lib/ios/RNNEventEmitter.m
Labels: v2

#2886 Modal anim
  lib/android/app/src/main/java/com/reactnativenavigation/anim/BaseAnimator.java
  lib/android/app/src/main/java/com/reactnativenavigation/anim/ModalAnimator.java
  lib/android/app/src/main/java/com/reactnativenavigation/anim/NavigationAnimator.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/AnimationOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/AnimationsOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/Options.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/ModalStack.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/Modal.java
  lib/android/app/src/main/res/values/styles.xml
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/ModalStackTest.java
Labels: Android, v2

#2904 Topbar anim
  lib/android/app/src/main/java/com/reactnativenavigation/anim/NavigationAnimator.java
  lib/android/app/src/main/java/com/reactnativenavigation/anim/TopBarAnimator.java
  lib/android/app/src/main/java/com/reactnativenavigation/anim/TopBarCollapseBehavior.java
  lib/android/app/src/main/java/com/reactnativenavigation/interfaces/ChildDisappearListener.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/AnimationsOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/NestedAnimationsOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/presentation/OptionsPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/StackController.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/StackLayout.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/TopBar.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/StackControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/views/TopBarTest.java
  playground/src/app.js
Labels: Android, v2

#2906 Bottom anim
  lib/android/app/src/main/java/com/reactnativenavigation/anim/BottomTabsAnimator.java
  lib/android/app/src/main/java/com/reactnativenavigation/presentation/BottomTabsOptionsPresenter.java
  playground/src/app.js
  playground/src/screens/TextScreen.js
Labels: Android, v2

#2908 Allow customTitleView and customNavigationBarView to be transparent
  lib/ios/RNNRootViewController.m
Labels: iOS, v2

#2917 Stack id
  lib/android/app/src/main/java/com/reactnativenavigation/anim/TopBarAnimator.java
  lib/android/app/src/main/java/com/reactnativenavigation/anim/TopBarCollapseBehavior.java
  lib/android/app/src/main/java/com/reactnativenavigation/parse/AnimationOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/presentation/OptionsPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/StackController.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/StackLayout.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/topbar/TopBar.java
  lib/android/app/src/test/java/com/reactnativenavigation/views/TopBarBackgroundComponentTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/views/TopBarTest.java
  playground/src/app.js
  playground/src/screens/CustomTopBar.js
Labels: Android, v2

#2926 Fab gravity
  lib/android/app/src/main/java/com/reactnativenavigation/presentation/FabOptionsPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/StackController.java
Labels: Android, v2

#2927 Start app
  lib/android/app/src/main/java/com/reactnativenavigation/anim/BaseAnimator.java
  lib/android/app/src/main/java/com/reactnativenavigation/anim/NavigationAnimator.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/Navigator.java
  playground/android/gradle.properties
  playground/src/app.js
Labels: Android, v2

#2931 Fix: Bottom Nav Icons disappear when getting a CodePush (Android)
  lib/android/app/src/main/java/com/reactnativenavigation/utils/ImageLoader.java
Labels: v2
