Repository wix/react-native-navigation, pull requests merged in 2019-02, with the labels that each got.

#4310 [V2][IOS] fixes noBorder issue with largeTitle
  lib/ios/RNNNavigationControllerPresenter.m
  lib/ios/UINavigationController+RNNOptions.m
Labels: platform: iOS

#4647 Fix splitView options
  lib/ios/RNNControllerFactory.m
  lib/ios/RNNSplitViewController.h
  lib/ios/RNNSplitViewController.m
  lib/ios/RNNSplitViewControllerPresenter.h
  lib/ios/RNNSplitViewControllerPresenter.m
  lib/ios/RNNSplitViewOptions.h
  lib/ios/RNNSplitViewOptions.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  lib/ios/ReactNativeNavigationTests/RNNControllerFactoryTest.m
  lib/ios/UISplitViewController+RNNOptions.h
  lib/ios/UISplitViewController+RNNOptions.m
Labels: platform: iOS

#4649 [v2] [iOS] Ignore pan gesture when no drawer is enabled
  lib/ios/RNNSideMenu/MMDrawerController/MMDrawerController.m
Labels: platform: iOS, 📌 pinned

#4575 RTL Layout
  lib/android/app/src/main/java/com/reactnativenavigation/parse/LayoutOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/react/NavigationModule.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/TitleBarButtonController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/button/NavigationIconResolver.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/navigator/Navigator.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/navigator/RootPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/titlebar/TitleBar.java
  lib/android/app/src/main/res/drawable/ic_arrow_back_black_rtl_24dp.xml
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/button/NavigationIconResolverTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/navigator/NavigatorTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/navigator/RootPresenterTest.java
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNLayoutOptions.h
  lib/ios/RNNLayoutOptions.m
  lib/ios/RNNNavigationStackManager.m
Labels: platform: Android, platform: iOS, type: accepted/enhancement

#4745 Update side menu options on open / close callback - Android
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/sidemenu/SideMenuController.java
Labels: platform: Android, type: accepted/bug
