Repository wix/react-native-navigation, pull requests merged in 2019-03, with the labels that each got.

#4809 [Android] Fix title glitch and alignment
  lib/android/app/src/main/java/com/reactnativenavigation/views/titlebar/TitleBar.java
Labels: platform: Android

#4766 Fixes command completion event commandId
  e2e/StaticLifecycleEvents.test.js
  lib/ios/RNNBridgeModule.m
  lib/ios/RNNCommandsHandler.h
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNEventEmitter.h
  lib/ios/RNNEventEmitter.m
  lib/ios/ReactNativeNavigationTests/RNNCommandsHandlerTest.m
  playground/src/screens/StaticLifecycleOverlay.js
Labels: platform: iOS, type: accepted/bug, 📌 pinned

#4907 Bugfix [iOS]: Fix Height of sidemenu when device orientation changes in iOS
  lib/ios/RNNSideMenu/MMDrawerController/MMDrawerController.m
Labels: platform: iOS
