Repository wix/react-native-navigation, pull requests merged in 2020-01, with the labels that each got.

#5814 Added TitleState showWhenActiveForce option for bottomTabs
  docs/docs/styling.md
  lib/android/app/build.gradle
  lib/android/app/src/main/java/com/reactnativenavigation/parse/params/TitleDisplayMode.java
  lib/src/interfaces/Options.ts
Labels: platform: Android, user: more info needed

#5784 Add bottomTabLongPressed event on iOS
  docs/docs/events.md
  lib/ios/RNNBottomTabsController.m
  lib/ios/RNNEventEmitter.h
  lib/ios/RNNEventEmitter.m
  lib/src/adapters/NativeEventsReceiver.ts
  lib/src/events/EventsRegistry.ts
  lib/src/interfaces/Events.ts
Labels: platform: iOS

#5860 Add adaptive navigation bar buttons color
  lib/android/app/src/main/java/com/reactnativenavigation/presentation/Presenter.java
Labels: platform: Android

#5880 On tab press event
  lib/android/app/src/main/java/com/reactnativenavigation/parse/BottomTabOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/react/events/EventEmitter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsController.java
  lib/ios/RNNBottomTabOptions.h
  lib/ios/RNNBottomTabOptions.m
  lib/ios/RNNBottomTabsController.m
  lib/ios/RNNButtonOptions.h
  lib/ios/RNNButtonOptions.m
  lib/ios/RNNEventEmitter.h
  lib/ios/RNNEventEmitter.m
  lib/src/adapters/NativeEventsReceiver.ts
  lib/src/events/EventsRegistry.ts
  lib/src/interfaces/Events.ts
  lib/src/interfaces/Options.ts
  playground/ios/Podfile.lock
Labels: platform: Android, platform: iOS

#5868 Update default value for fontsize in navigation title and subtitle
  lib/ios/RNNTitleViewHelper.m
Labels: platform: iOS
