Repository wix/react-native-navigation, pull requests merged in 2020-09, with the labels that each got.

#6511 Fix crash if Shared Element ID is invalid
  lib/ios/SharedElementTransitionsCreator.m
Labels: platform: iOS, type: accepted/bug

#6509 Fix topBar title with subtitle view
  e2e/Stack.test.js
  lib/ios/RNNComponentPresenter.m
  lib/ios/TopBarTitlePresenter.h
  lib/ios/TopBarTitlePresenter.m
  playground/src/screens/StackScreen.tsx
  playground/src/testIDs.ts
Labels: platform: iOS, type: accepted/bug

#6524 iOS Pod install uncommitted file
  playground/ios/playground.xcodeproj/project.pbxproj
Labels: Infrastructure

#6525 Fix status bar disappears on setRoot
  lib/ios/RNNBasePresenter.m
Labels: platform: iOS, type: accepted/bug

#6527 Removed unused RNNBridgeManagerDelegate, was replaced by RCTBridgeDelegate in v5
  lib/ios/RNNBridgeManagerDelegate.h
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
Labels: platform: iOS, type: accepted/enhancement

#6526 Fixed typo in ios bridge manager method name
  lib/ios/RNNBridgeManager.h
  lib/ios/RNNBridgeManager.mm
  lib/ios/ReactNativeNavigation.m
Labels: Infrastructure, platform: iOS

#6528 Remove broken bootstrap method
  lib/ios/ReactNativeNavigation.h
  lib/ios/ReactNativeNavigation.m
Labels: platform: iOS, type: accepted/bug

#6538 UpdateProps now keeps the old props.
  lib/src/components/ComponentWrapper.tsx
  lib/src/components/Store.test.ts
  lib/src/components/Store.ts
Labels: type: accepted/bug

#6541 Deploy Docusaurus automatically on push to master
  .github/workflows/documentation.yml
Labels: Infrastructure, type: documentation

#6545 Fix props type in options function
  lib/src/interfaces/NavigationFunctionComponent.ts
Labels: type: accepted/bug

#6539 setRoot fade in animation support on iOS
  lib/ios/RNNAnimationsOptions.h
  lib/ios/RNNAnimationsOptions.m
  lib/ios/RNNBridgeManager.mm
  lib/ios/RNNCommandsHandler.h
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNSetRootAnimator.h
  lib/ios/RNNSetRootAnimator.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  playground/ios/NavigationTests/RNNCommandsHandlerTest.m
  playground/ios/SnapshotTests/Utils/CommandsHandlerCreator.m
Labels: platform: iOS, type: accepted/enhancement

#6546 Resolve fonts using RCTFont
  lib/ios/RNNFontAttributesCreator.m
  lib/src/interfaces/Options.ts
  playground/ios/NavigationTests/RNNFontAttributesCreatorTest.m
  playground/ios/NavigationTests/RNNRootViewControllerTest.m
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_title_font_pop@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_title_font_push@2x.png
Labels: platform: iOS, type: accepted/enhancement

#6555 Fix docs deployment
  .github/workflows/documentation.yml
Labels: Infrastructure, type: documentation

#6556 Fix docusaurus version navigation button
  website/sidebars.js
  website/versioned_sidebars/version-6.12.2-sidebars.json
Labels: type: documentation

#6552 Fixes default value for back button when title is empty
  lib/ios/TopBarPresenter.m
Labels: platform: iOS, type: accepted/bug

#6548 Fixes issue with border shown on iOS TopBar
  lib/ios/TopBarAppearancePresenter.m
Labels: platform: iOS, type: accepted/bug

#6558 Fix iOS unit tests
  playground/ios/NavigationTests/RNNStackPresenterTest.m
Labels: platform: iOS, type: accepted/bug

#6537 Using react-native autolink for Pod install
  playground/ios/Podfile
  playground/ios/SnapshotTests/FBSnapshotTestCase/Categories/UIImage+Compare.h
  playground/ios/SnapshotTests/FBSnapshotTestCase/Categories/UIImage+Compare.m
  playground/ios/SnapshotTests/FBSnapshotTestCase/Categories/UIImage+Diff.h
  playground/ios/SnapshotTests/FBSnapshotTestCase/Categories/UIImage+Diff.m
  playground/ios/SnapshotTests/FBSnapshotTestCase/Categories/UIImage+Snapshot.h
  playground/ios/SnapshotTests/FBSnapshotTestCase/Categories/UIImage+Snapshot.m
  playground/ios/SnapshotTests/FBSnapshotTestCase/FBSnapshotTestCase-Info.plist
  playground/ios/SnapshotTests/FBSnapshotTestCase/FBSnapshotTestCase.h
  playground/ios/SnapshotTests/FBSnapshotTestCase/FBSnapshotTestCase.m
  playground/ios/SnapshotTests/FBSnapshotTestCase/FBSnapshotTestCasePlatform.h
  playground/ios/SnapshotTests/FBSnapshotTestCase/FBSnapshotTestCasePlatform.m
  playground/ios/SnapshotTests/FBSnapshotTestCase/FBSnapshotTestController.h
  playground/ios/SnapshotTests/FBSnapshotTestCase/FBSnapshotTestController.m
  playground/ios/SnapshotTests/StackOptionsTest.m
  playground/ios/playground.xcodeproj/project.pbxproj
  playground/ios/playground.xcodeproj/xcshareddata/xcschemes/playground.xcscheme
Labels: Infrastructure

#6562 Document back button accessibilityLabel
  lib/src/interfaces/Options.ts
  website/docs/api/options-backButton.mdx
  website/versioned_docs/version-6.12.2/api/options-backButton.mdx
  website/versioned_docs/version-7.0.0/api/options-backButton.mdx
  website/versioned_docs/version-7.0.0/docs/docs-Installing.mdx
Labels: type: documentation

#6564 Fix searchBarHiddenWhenScrolling not working when searchBar should be displayed on the root screen
  lib/ios/RNNComponentPresenter.m
  lib/ios/UIViewController+RNNOptions.h
  lib/ios/UIViewController+RNNOptions.m
Labels: platform: iOS, type: accepted/bug

#6566 Add support for searchBarBackgroundColor and searchBarTintColor
  lib/ios/RNNComponentPresenter.m
  lib/ios/RNNTopBarOptions.h
  lib/ios/RNNTopBarOptions.m
  lib/ios/UIViewController+RNNOptions.h
  lib/ios/UIViewController+RNNOptions.m
  lib/src/interfaces/Options.ts
  website/docs/api/options-stack.mdx
Labels: platform: iOS, type: accepted/enhancement

#6571 Update CHANGELOG.md
  CHANGELOG.md
Labels: type: documentation

#6563 Fix animations last tick
  lib/ios/BaseAnimator.m
Labels: platform: iOS, type: accepted/bug

#6544 Add Spring interpolation
  lib/android/app/src/main/java/com/reactnativenavigation/options/params/Interpolation.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/parsers/InterpolationParser.java
  lib/ios/RCTConvert+Interpolation.h
  lib/ios/RCTConvert+Interpolation.m
  lib/ios/RNNInterpolator.m
  lib/src/interfaces/Options.ts
Labels: platform: Android, platform: iOS, type: accepted/enhancement

#6578 Remove old iOS < 11 code
  ReactNativeNavigation.podspec
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNStackController.m
  lib/ios/RNNSwizzles.m
  lib/ios/TopBarPresenter.m
  lib/ios/UISplitViewController+RNNOptions.m
  lib/ios/UIViewController+RNNOptions.m
  playground/ios/Podfile
Labels: platform: iOS, type: accepted/enhancement

#6581 Add steps to follow for contributing to the project
  website/docs/docs/meta-contributing.mdx
Labels: type: documentation

#6579 Pass componentId on showModal completion callback
  lib/ios/RNNModalManager.m
Labels: platform: iOS, type: accepted/bug

#6532 Animate borderRadius for Shared Element Transitions
  lib/ios/AnimatedReactView.m
  lib/ios/CornerRadiusTransition.h
  lib/ios/CornerRadiusTransition.m
  lib/ios/RNNViewLocation.h
  lib/ios/RNNViewLocation.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  lib/ios/SharedElementAnimator.m
  lib/ios/TransformRectTransition.h
  lib/ios/TransformRectTransition.m
  lib/ios/Utils/UIView+Utils.h
  lib/ios/Utils/UIView+Utils.m
  playground/src/screens/sharedElementTransition/CocktailDetailsScreen.tsx
  scripts/test-snapshot.js
Labels: platform: iOS, type: accepted/enhancement

#6516 Another Shared Element Demo for Playground
  lib/ios/RNNViewLocation.m
  playground/img/posts/aventador.jpg
  playground/img/posts/countach.jpg
  playground/img/posts/diablo.jpg
  playground/src/assets/posts.ts
  playground/src/commons/Colors.ts
  playground/src/components/PressableScale.tsx
  playground/src/screens/NavigationScreen.tsx
  playground/src/screens/Screens.ts
  playground/src/screens/index.tsx
  playground/src/screens/sharedElementTransitionAlt/Constants.ts
  playground/src/screens/sharedElementTransitionAlt/DismissableView.tsx
  playground/src/screens/sharedElementTransitionAlt/PostCard.tsx
  playground/src/screens/sharedElementTransitionAlt/PostDetailsScreen.tsx
  playground/src/screens/sharedElementTransitionAlt/PostsListScreen.tsx
  playground/src/screens/sharedElementTransitionAlt/useDismissGesture.ts
Labels: type: accepted/enhancement

#6589 'spring' -> 'overshoot'
  lib/android/app/src/main/java/com/reactnativenavigation/options/params/Interpolation.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/parsers/InterpolationParser.java
  lib/ios/RCTConvert+Interpolation.h
  lib/ios/RCTConvert+Interpolation.m
  lib/ios/RNNInterpolator.m
  lib/src/interfaces/Options.ts
  playground/src/screens/sharedElementTransition/CocktailsListScreen.tsx
  website/docs/docs/style-animations.mdx
Labels: platform: iOS, type: accepted/enhancement

#6592 Fix shared element x y translation
  lib/ios/FloatTransition.h
  lib/ios/HorizontalTranslationTransition.m
  lib/ios/VerticalTranslationTransition.m
Labels: platform: iOS, type: accepted/bug

#6576 [ios] Allow sync loading of sf symbols
  lib/ios/ImageParser.m
  lib/src/interfaces/Options.ts
Labels: platform: iOS, type: accepted/enhancement

#6575 Use ImageParser instead of calling RCTConvert directly
  lib/ios/RNNNavigationButtons.m
Labels: platform: iOS, type: accepted/enhancement

#6570 Emit configuration change event to Js
  lib/android/app/src/main/java/com/reactnativenavigation/NavigationActivity.java
  lib/android/app/src/main/java/com/reactnativenavigation/react/ReactGateway.java
Labels: platform: Android, type: accepted/bug

#6590 Use rn typeface utils for font loading
  lib/android/app/src/main/java/com/reactnativenavigation/options/BottomTabOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/ButtonOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/SubtitleOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/TitleOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/TopTabOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/parsers/TypefaceLoader.java
  lib/android/app/src/test/java/com/reactnativenavigation/options/OptionsTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/utils/TypefaceLoaderTest.java
  lib/src/interfaces/Options.ts
  website/docs/api/options-bottomTab.mdx
  website/docs/api/options-button.mdx
  website/docs/api/options-largeTitle.mdx
  website/docs/api/options-subtitle.mdx
  website/docs/api/options-title.mdx
Labels: platform: Android, type: accepted/enhancement

#6598 Rename `'spring'` to `'overshoot'` in playground demo
  playground/src/screens/sharedElementTransitionAlt/Constants.ts
Labels: platform: iOS, type: accepted/bug

#6586 Deprecate searchBar params in favour of a new standalone searchBar options
  lib/ios/RNNComponentPresenter.m
  lib/ios/RNNSearchBarOptions.h
  lib/ios/RNNSearchBarOptions.m
  lib/ios/RNNTopBarOptions.h
  lib/ios/RNNTopBarOptions.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  lib/ios/ReactNativeNavigation.xcodeproj/xcshareddata/xcschemes/ReactNativeNavigation.xcscheme
  lib/ios/UIViewController+RNNOptions.h
  lib/ios/UIViewController+RNNOptions.m
  lib/src/commands/Deprecations.ts
  lib/src/commands/OptionsProcessor.ts
  lib/src/interfaces/Options.ts
  playground/src/screens/FlatListScreen.tsx
  playground/src/screens/SearchScreen.tsx
  website/docs/api/options-stack.mdx
  website/docs/api/topBar-searchBar.mdx
Labels: feature: SearchBar, platform: iOS, type: accepted/enhancement

#6603 Better resolving shared element corner radius value
  lib/ios/AnimatedReactView.m
  lib/ios/RNNViewLocation.h
  lib/ios/RNNViewLocation.m
  lib/ios/SharedElementAnimator.m
Labels: platform: iOS, type: accepted/bug

#6600 Podspec: Depend on React-Core instead of React
  ReactNativeNavigation.podspec
Labels: platform: iOS, type: accepted/bug

#6610 Support FastImage in Shared Element Transition
  lib/android/app/src/main/java/com/reactnativenavigation/utils/BorderRadiusOutlineProvider.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/ImageUtils.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/ReactImageView.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/RoundingParams.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/View.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/ViewController.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/ViewParent.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/ViewUtils.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/SharedElementTransition.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/TransitionAnimatorCreator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/TransitionSetCreator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ClipBoundsAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ClipBoundsEvaluator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/CornerRadiusEvaluator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/FastImageBorderRadiusAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/FastImageMatrixAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/PropertyAnimatorCreator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactImageCornerRadiusAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactImageMatrixAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/finder/ExistingViewFinder.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/finder/OptimisticViewFinder.kt
  lib/android/app/src/main/res/values/ids.xml
  package.json
  playground/android/app/build.gradle
  playground/src/screens/sharedElementTransition/CocktailDetailsScreen.tsx
  playground/src/screens/sharedElementTransition/CocktailsListScreen.tsx
Labels: platform: Android, type: accepted/enhancement

#6614 Include all ancestors scale when determining an element's initial scale
  lib/android/app/src/main/java/com/reactnativenavigation/utils/ImageUtils.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/OverlayLayout.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/ViewControllerOverlay.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#6616 Remove redundant awaitPost before popping screen with Shared Element Transition
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackAnimator.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#6617 Always animate borderRadius when it's defined
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/FastImageBorderRadiusAnimator.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#6620 Fix timing issue with shared element animators
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/SharedElementTransition.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#6613 Support default font options
  lib/android/app/src/main/java/com/reactnativenavigation/options/BottomTabOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/ButtonOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/FontOptions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/LayoutFactory.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/SubtitleOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/TitleOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/TopBarButtons.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/parsers/FontParser.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/parsers/TypefaceLoader.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/parsers/TypefaceLoader.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonController.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonSpan.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/TopBar.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBar.java
  lib/android/app/src/test/java/com/reactnativenavigation/TestUtils.java
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/TypefaceLoaderMock.java
  lib/android/app/src/test/java/com/reactnativenavigation/options/OptionsTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/utils/ButtonSpanTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabPresenterTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/navigator/NavigatorTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.java
Labels: platform: Android, type: accepted/bug

#6622 A different approach to animating View scale
  lib/android/app/src/main/java/com/reactnativenavigation/utils/ReactViewGroup.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/SharedElementTransition.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/BoundsEvaluator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ClipBoundsAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactViewBorderRadiusAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactViewBoundsAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ScaleXAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ScaleYAnimator.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/enhancement

#6624 Support animating View rotation in shared element transition
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/SharedElementTransition.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactViewRotationAnimator.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/enhancement
