Repository wix/react-native-navigation, pull requests merged in 2020-11, with the labels that each got.

#6732 Fix incorrect border radius end value
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/SharedElementTransition.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/FastImageBoundsAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactImageBoundsAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactImageCornerRadiusAnimator.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#6708 Fix ReactImageView sporadic flicker in pop during Shared Element Transition
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactImageMatrixAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/finder/ExistingViewFinder.kt
  playground/src/screens/sharedElementTransition/CocktailsListScreen.tsx
Labels: platform: Android, type: accepted/bug

#6716 Support shared elements transition in show/dismiss modals
  .eslintrc.js
  lib/android/app/src/main/java/com/reactnativenavigation/options/AnimationOptions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/LayoutAnimation.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/NestedAnimationsOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/NestedAnimationsOptions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/ImageUtils.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/View.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/child/ChildController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimator.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalStack.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/navigator/Navigator.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/TopBarBackgroundViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonController.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/title/TitleBarReactViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/ViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/overlay/ModalOverlay.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/overlay/OverlayLayout.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/overlay/RootOverlay.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/overlay/ViewControllerOverlay.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/TransitionAnimatorCreator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/TransitionSetCreator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactImageMatrixAnimator.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimatorMock.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimatorTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalPresenterTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalStackTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/navigator/NavigatorTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/viewcontroller/ViewControllerTest.java
  playground/src/screens/sharedElementTransition/CocktailDetailsScreen.tsx
Labels: feature: Shared Element Transition, platform: Android, type: accepted/enhancement

#6735 Auto changelog - Ignore old tags and add contributer name to issue
  .grenrc.js
Labels: Infrastructure

#6737 Set fadeDuration to 0 for appearing images involved in shared element transition
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactImageMatrixAnimator.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#6738 Convert CommonJS require to ES6 import syntax
  website/docs/docs/docs-advanced-navigation.mdx
  website/docs/docs/docs-basic-navigation.mdx
Labels: type: documentation

#6741 Group issues using groupPostProcessor
  .grenrc.js
  package.json
Labels: Infrastructure

#6745 Fix gren script
  .grenrc.js
  scripts/release.js
Labels: Infrastructure

#6747 Do not close "needs triage" issues as stale
  .github/stale.yml
Labels: Infrastructure

#6750 Add the option to bump docs version in jenkins
  scripts/release.js
Labels: Infrastructure

#6749 Update options-modal.mdx
  website/versioned_docs/version-7.0.0/api/options-modal.mdx
Labels: type: documentation

#6752 Update options-statusBar.mdx
  website/versioned_docs/version-7.0.0/api/options-statusBar.mdx
Labels: type: documentation

#6759 [other] Reduce npm package size
  .npmignore
Labels: Infrastructure

#6771 Apply bottomTabs.currentTabId on init
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/attacher/modes/AttachMode.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/attacher/modes/OnSwitchToTab.java
  lib/ios/BottomTabsBasePresenter.m
Labels: platform: Android, platform: iOS, type: accepted/bug

#6772 Fix default options being applied when calling mergeOptions on a stack layout
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.java
Labels: platform: Android, type: accepted/bug

#6755 Fix right buttons lifecycle bug
  e2e/StaticLifecycleEvents.test.js
  lib/ios/RNNNavigationButtons.m
  playground/src/screens/StaticEventsScreen.tsx
  playground/src/testIDs.ts
Labels: platform: iOS, type: accepted/bug

#6778 Copy ReactTypefaceUtils to provide backwards compatibilty for rn < 0.62
  lib/android/app/src/main/java/com/reactnativenavigation/options/parsers/TypefaceLoader.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/ReactTypefaceUtils.java
Labels: platform: Android, type: accepted/bug

#6780 Pass props to components by ref (without deep cloning)
  lib/src/commands/Commands.test.ts
  lib/src/commands/Commands.ts
Labels: type: accepted/bug

#6784 Fix bottomTab truncated text on iPad
  lib/ios/TabBarItemAppearanceCreator.m
Labels: iOS 14, platform: iOS, type: accepted/bug

#6757 Fix edge case where left button was not applied
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.java
Labels: platform: Android, type: accepted/bug

#6787 Fix unnecessary button recreation through mergeOptions
  e2e/Buttons.test.js
  lib/ios/NSArray+utils.m
  playground/ios/NavigationTests/NSArray+utilsTest.m
  playground/ios/playground.xcodeproj/project.pbxproj
  playground/src/screens/RoundedButton.tsx
Labels: platform: iOS, type: accepted/bug

#6788 Versioned ReactGateway to avoid breaking rn < 0.62
  lib/android/app/src/reactNative51/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative55/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative56/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative57/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative57_5/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative60/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative62/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative63/java/com/reactnativenavigation/react/ReactGateway.java
Labels: platform: Android, type: accepted/bug

#6781 Add the ability to override docs version from next docs version
  package.json
  scripts/documentation.js
  scripts/documentation.test.js
  scripts/release.js
  wallaby.js
Labels: Infrastructure

#6753 Set orientation in static options instead of mergeOptions in Orientation screen
  lib/android/app/src/main/java/com/reactnativenavigation/options/Orientation.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/OrientationOptions.java
  playground/src/screens/OrientationDetectScreen.tsx
Labels: Infrastructure

#6792 Render child vc first before attaching it to the view hierarchy
  lib/ios/RNNSideMenuChildVC.m
Labels: platform: iOS, type: accepted/bug

#6794 Fix documentation script
  scripts/documentation.js
Labels: Infrastructure

#6795 Add FastOutSlowIn interpolator
  lib/android/app/src/main/java/com/reactnativenavigation/options/parsers/InterpolationParser.java
  lib/ios/Interpolators/FastOutSlowIn.h
  lib/ios/Interpolators/FastOutSlowIn.m
  lib/ios/RCTConvert+Interpolation.m
  lib/src/interfaces/Options.ts
Labels: feature: Animations, platform: Android, platform: iOS, type: accepted/enhancement

#6793 Fix SET frame transition
  lib/ios/LayerBoundsTransition.h
  lib/ios/LayerBoundsTransition.m
  lib/ios/RNNViewLocation.h
  lib/ios/RNNViewLocation.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  lib/ios/SharedElementAnimator.m
  lib/ios/TransformRectTransition.h
  lib/ios/TransformRectTransition.m
Labels: platform: iOS, type: accepted/bug

#6798 Fix iOS e2e tests
  e2e/SideMenu.test.js
Labels: Infrastructure
