Repository wix/react-native-navigation, pull requests merged in 2020-10, with the labels that each got.

#6629 Added UIWindow init to playground to demonstrate usage
  playground/ios/playground/AppDelegate.m
Labels: Infrastructure, platform: iOS

#6634 Remove deprecated rn-keyboard-tracking-view, use rn-ui-lib instead
  package.json
  playground/src/components/Root.tsx
  playground/src/declarations.d.ts
Labels: Infrastructure

#6632 Replaced launch screen xib with storyboard
  playground/ios/playground.xcodeproj/project.pbxproj
  playground/ios/playground/Base.lproj/LaunchScreen.xib
  playground/ios/playground/LaunchScreen.storyboard
Labels: Infrastructure, platform: iOS

#6628 Fix initial shared element corner radius glitch
  lib/ios/AnimatedReactView.m
Labels: platform: iOS, type: accepted/bug

#6633 Added _Nullable modifier to UIViewController category methods
  lib/ios/UIViewController+RNNOptions.h
Labels: platform: iOS, type: accepted/enhancement

#6631 Fix title and subtitle font styling issue with mergeOptions
  lib/android/app/src/main/java/com/reactnativenavigation/options/FontOptions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonSpan.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBar.java
  lib/android/app/src/main/res/values/styles.xml
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/TypefaceLoaderMock.java
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/TypefaceLoaderMock.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.java
  playground/android/build.gradle
Labels: platform: Android, type: accepted/bug

#6641 Fix view bounds animator
  lib/android/app/src/main/java/com/reactnativenavigation/utils/OutlineProvider.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/SharedElementTransition.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/OutlineEvaluator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactViewBoundsAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactViewOutlineAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ViewOutline.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#6643 Fix ReactViewOutlineAnimator width/height wrong scale
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactViewOutlineAnimator.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#6640 Animate text change in shared element transition only if texts are lexically equal
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/TextChangeAnimator.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#6639 Update vscode settings to only format changed lines
  .vscode/settings.json
Labels: Infrastructure

#6649 Create WindowOptions type
  lib/src/interfaces/Options.ts
  playground/src/commons/Options.ts
Labels: platform: iOS, type: accepted/bug

#6658 Delete CONTRIBUTING
  .github/CONTRIBUTING
Labels: Infrastructure

#6648 Set text scale repro
  playground/src/screens/Screens.ts
  playground/src/screens/index.tsx
  playground/src/screens/sharedElementCarDealer/CarStoryScreen.tsx
  playground/src/screens/sharedElementCarDealer/CarsListScreen.tsx
  playground/src/screens/sharedElementCarDealer/Constants.ts
  playground/src/screens/sharedElementCarDealer/DismissableView.tsx
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#6659 Added discord channel to github support label action
  .github/support.yml
Labels: Infrastructure

#6662 Fixes #5888 Cannot change swipeToDismiss through mergeOptions
  lib/ios/RNNBasePresenter.m
  playground/src/screens/ModalScreen.tsx
Labels: platform: iOS, type: accepted/enhancement

#6668 Add the ability to control the iOS home indicator auto-hiding
  lib/ios/RNNBasePresenter.h
  lib/ios/RNNBasePresenter.m
  lib/ios/RNNComponentViewController.m
  lib/ios/RNNLayoutOptions.h
  lib/ios/RNNLayoutOptions.m
  lib/ios/UIViewController+LayoutProtocol.m
  lib/src/interfaces/Options.ts
  website/docs/api/options-layout.mdx
Labels: platform: iOS, type: accepted/enhancement

#6671 Call dismissAllModals completion handler after the dismissal has actually completed
  lib/ios/RNNCommandsHandler.m
Labels: platform: iOS, type: accepted/bug

#6674 Fix link script on iOS
  autolink/postlink/podfileLinker.js
Labels: platform: iOS, type: accepted/bug

#6680 Document use of SF Symbols
  website/docs/api/options-backButton.mdx
  website/docs/api/options-bottomTab.mdx
  website/docs/api/options-button.mdx
  website/docs/api/options-imageResource.mdx
Labels: platform: iOS, type: documentation

#6677 Prettier all the things
  .grenrc.js
  autolink/postlink/activityLinker.js
  autolink/postlink/applicationLinker.js
  autolink/postlink/gradleLinker.js
  autolink/postlink/log.js
  autolink/postlink/path.js
  autolink/postlink/podfileLinker.js
  autolink/postlink/postLinkAndroid.js
  autolink/postlink/postLinkIOS.js
  autolink/postlink/run.js
  autolink/postlink/stringUtils.js
  e2e/LazyRegsitration.test.js
  integration/redux/MyComponent.js
  integration/redux/MyStore.js
  integration/redux/Redux.test.js
  integration/remx/MyComponent.js
  integration/remx/MyStore.js
  integration/remx/remx.test.js
  lib/src/adapters/NativeEventsReceiver.ts
  lib/src/commands/LayoutTreeParser.ts
  lib/src/commands/LayoutType.ts
  lib/src/components/ComponentWrapper.test.tsx
  lib/src/events/CommandsObserver.ts
  lib/src/events/EventsRegistry.test.tsx
  lib/src/events/EventsRegistry.ts
  lib/src/interfaces/NavigationComponentListener.ts
  package.json
  playground/src/context/index.tsx
  scripts/build.js
  scripts/install-android.js
  scripts/release.js
  scripts/start.js
  scripts/test-all.js
  scripts/test-snapshot.js
  scripts/watch.js
  website/docusaurus.config.js
  website/src/pages/index.js
Labels: Infrastructure

#6660 Improve issue templates
  .github/ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/question.md
Labels: Infrastructure

#6683 Fix statusBar.drawBehind not respected when defined in default options
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/component/ComponentViewController.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/component/ComponentViewControllerTest.java
Labels: platform: Android, type: accepted/bug

#6686 Added pod install to docs
  website/docs/docs/docs-Installing.mdx
Labels: type: documentation

#6685 Fix statusbar typings and docs
  lib/src/interfaces/Options.ts
  website/docs/api/options-migration.mdx
  website/docs/api/options-statusBar.mdx
Labels: type: documentation

#6666 Fix shared element animation safe area calculation
  lib/ios/AnimatedReactView.m
  lib/ios/RNNViewLocation.m
Labels: platform: iOS, type: accepted/bug

#6693 Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Infrastructure

#6691 Remove unnecessary overrides to setDefaultOptions, apply defaultOptions to RNNSideMenuController
  lib/ios/RNNBasePresenter.h
  lib/ios/RNNBasePresenter.m
  lib/ios/RNNComponentViewController.m
  lib/ios/RNNSideMenuController.m
  lib/ios/RNNStackController.m
  lib/ios/UIViewController+LayoutProtocol.m
  playground/src/screens/LayoutsScreen.tsx
Labels: platform: iOS, type: accepted/bug

#6692 Balance out addChildViewController with didMoveToParentViewController
  lib/ios/RNNSideMenuChildVC.m
  lib/ios/RNNSideMenuController.m
  lib/ios/RNNTopTabsViewController.m
Labels: platform: iOS, type: accepted/bug

#6690 fix for truncated tab item names on ios14
  lib/ios/TabBarItemAppearanceCreator.m
Labels: iOS 14, platform: iOS, type: accepted/bug

#6688 Fix copy function mutating original buttons object
  lib/android/app/src/main/java/com/reactnativenavigation/options/TopBarButtons.java
  lib/android/app/src/main/java/com/reactnativenavigation/utils/CollectionUtils.java
  lib/android/app/src/test/java/com/reactnativenavigation/options/TopBarButtonsTest.kt
  playground/src/services/Navigation.ts
Labels: platform: Android, type: accepted/bug

#6695 Enable side menu readyForPresentation callbacks
  lib/ios/RNNSideMenuChildVC.m
  lib/ios/RNNSideMenuController.m
Labels: platform: iOS, type: accepted/bug

#6689 Propagate waitForRender to bottom tabs children
  lib/ios/BottomTabsTogetherAttacher.m
  lib/ios/UIViewController+LayoutProtocol.m
Labels: platform: iOS, type: accepted/bug

#6697 Fix dead links in SET docs
  website/docs/docs/style-animations.mdx
Labels: type: documentation

#6696 Revert "fix for truncated tab item names on ios14"
  lib/ios/TabBarItemAppearanceCreator.m
Labels: type: accepted/bug

#6700 Fix viewcontroller for pop animation lookup
  lib/ios/StackControllerDelegate.m
Labels: feature: Shared Element Transition, platform: iOS, type: accepted/bug

#6698 Fix interpolation and `content::alpha` errors in playground
  playground/src/commons/Options.ts
  playground/src/screens/sharedElementCarDealer/Constants.ts
Labels: feature: Shared Element Transition, type: accepted/bug

#6704 Add e2e to ensure buttons with predefined componentId are not recreated
  e2e/Buttons.test.js
  playground/src/screens/ButtonsScreen.tsx
  playground/src/screens/RoundedButton.tsx
  scripts/test-e2e.js
Labels: Infrastructure

#6676 Process processed value instead of old one, bring type safety to processSearchBar
  lib/src/commands/OptionsProcessor.test.ts
  lib/src/commands/OptionsProcessor.ts
Labels: feature: SearchBar, platform: iOS, type: accepted/bug

#6699 Add `sharedElementTransitions` option to `showModal` and `dismissModal`
  lib/src/interfaces/Options.ts
Labels: feature: Shared Element Transition, type: accepted/enhancement

#6706 Removed unneeded check that happens on recursion anyway
  lib/ios/RNNLayoutManager.m
Labels: platform: iOS, type: accepted/enhancement

#6710 Bump enforce-label-action to version 2.2.1
  .github/workflows/require-label.yml
Labels: Infrastructure

#6709 Fix default alpha animation being reversed
  lib/android/app/src/main/java/com/reactnativenavigation/options/FadeAnimation.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackAnimator.kt
Labels: feature: Animations, feature: Shared Element Transition, platform: Android, type: accepted/bug

#6702 Fix waitForRender + mergeOptions not working when view controller is in transit
  lib/ios/RNNBridgeManager.h
  lib/ios/RNNBridgeManager.mm
  lib/ios/RNNCommandsHandler.h
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNLayoutManager.h
  lib/ios/RNNLayoutManager.m
  lib/ios/RNNLayoutProtocol.h
  lib/ios/ReactNativeNavigation.m
  lib/ios/UINavigationController+RNNCommands.m
  playground/ios/NavigationTests/RNNCommandsHandlerTest.m
  playground/ios/NavigationTests/RNNLayoutManagerTest.m
  playground/ios/SnapshotTests/Utils/CommandsHandlerCreator.m
Labels: platform: iOS, type: accepted/bug

#6714 Resolve parent cornerRadius only when clipped
  lib/ios/RNNViewLocation.m
Labels: platform: iOS, type: accepted/bug

#6712 Add support for top bar border color + docs
  lib/ios/RNNTopBarOptions.h
  lib/ios/RNNTopBarOptions.m
  lib/ios/TopBarAppearancePresenter.m
  lib/src/interfaces/Options.ts
  website/docs/api/options-stack.mdx
Labels: platform: iOS, type: accepted/enhancement

#6713 Add scroll edge appearance to iOS + docs
  lib/ios/RNNScrollEdgeAppearanceBackgroundOptions.h
  lib/ios/RNNScrollEdgeAppearanceBackgroundOptions.m
  lib/ios/RNNScrollEdgeAppearanceOptions.h
  lib/ios/RNNScrollEdgeAppearanceOptions.m
  lib/ios/RNNTopBarOptions.h
  lib/ios/RNNTopBarOptions.m
  lib/ios/TopBarAppearancePresenter.m
  lib/ios/TopBarPresenter.h
  lib/ios/TopBarPresenter.m
  lib/src/interfaces/Options.ts
  website/docs/api/options-scrollEdgeAppearance.mdx
  website/docs/api/options-stack.mdx
Labels: platform: iOS, type: accepted/enhancement

#6715 Formatted lib/ios files
  lib/ios/Interpolators/AccelerateDecelerateInterpolator.h
  lib/ios/Interpolators/AccelerateDecelerateInterpolator.m
  lib/ios/Interpolators/AccelerateInterpolator.h
  lib/ios/Interpolators/AccelerateInterpolator.m
  lib/ios/Interpolators/DecelerateAccelerateInterpolator.h
  lib/ios/Interpolators/DecelerateAccelerateInterpolator.m
  lib/ios/Interpolators/DecelerateInterpolator.h
  lib/ios/Interpolators/DecelerateInterpolator.m
  lib/ios/Interpolators/Interpolator.h
  lib/ios/Interpolators/LinearInterpolator.h
  lib/ios/Interpolators/LinearInterpolator.m
  lib/ios/Interpolators/OvershootInterpolator.h
  lib/ios/Interpolators/OvershootInterpolator.m
  lib/ios/Interpolators/SpringInterpolator.h
  lib/ios/Interpolators/SpringInterpolator.m
  lib/ios/OCMock/NSNotificationCenter+OCMAdditions.h
  lib/ios/OCMock/OCMArg.h
  lib/ios/OCMock/OCMConstraint.h
  lib/ios/OCMock/OCMFunctions.h
  lib/ios/OCMock/OCMLocation.h
  lib/ios/OCMock/OCMMacroState.h
  lib/ios/OCMock/OCMRecorder.h
  lib/ios/OCMock/OCMStubRecorder.h
  lib/ios/OCMock/OCMock.h
  lib/ios/OCMock/OCMockObject.h
  lib/ios/RNNScrollEdgeAppearanceBackgroundOptions.h
  lib/ios/RNNScrollEdgeAppearanceBackgroundOptions.m
  lib/ios/RNNScrollEdgeAppearanceOptions.h
  lib/ios/RNNScrollEdgeAppearanceOptions.m
  lib/ios/RNNSideMenu/MMDrawerController/MMDrawerBarButtonItem.h
  lib/ios/RNNSideMenu/MMDrawerController/MMDrawerBarButtonItem.m
  lib/ios/RNNSideMenu/MMDrawerController/MMDrawerController+Subclass.h
  lib/ios/RNNSideMenu/MMDrawerController/MMDrawerController.h
  lib/ios/RNNSideMenu/MMDrawerController/MMDrawerController.m
  lib/ios/RNNSideMenu/MMDrawerController/MMDrawerVisualState.h
  lib/ios/RNNSideMenu/MMDrawerController/MMDrawerVisualState.m
  lib/ios/RNNSideMenu/MMDrawerController/MMExampleDrawerVisualStateManager.h
  lib/ios/RNNSideMenu/MMDrawerController/MMExampleDrawerVisualStateManager.m
  lib/ios/RNNSideMenu/MMDrawerController/UIViewController+MMDrawerController.h
  lib/ios/RNNSideMenu/MMDrawerController/UIViewController+MMDrawerController.m
  lib/ios/RNNTopBarOptions.h
  lib/ios/RNNTopBarOptions.m
  lib/ios/RNNViewLocation.m
  lib/ios/TopBarAppearancePresenter.m
  lib/ios/TopBarPresenter.h
  lib/ios/Utils/UIColor+RNNUtils.m
  lib/ios/Utils/UITabBarController+RNNUtils.m
  lib/ios/Utils/UIView+Utils.h
  lib/ios/Utils/UIView+Utils.m
Labels: Infrastructure, platform: iOS

#6718 Fix scrollEdgeAppearance docs
  website/docs/api/options-scrollEdgeAppearance.mdx
Labels: platform: iOS, type: documentation

#6719 Fix merge options on dismissModal
  lib/ios/RNNCommandsHandler.m
  playground/ios/NavigationTests/RNNCommandsHandlerTest.m
Labels: platform: iOS, type: accepted/bug

#6724 Updated triage labels in issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature.md
Labels: Infrastructure

#6723 Use github actions for performing actions on issue labels
  .github/label-actions.yml
  .github/support.yml
  .github/workflows/process-label.yml
Labels: Infrastructure
