Repository wix/react-native-navigation, pull requests merged in 2020-08, with the labels that each got.

#6449 Document Options usage
  website/api/api-options.mdx
  website/docs/style-screens.mdx
  website/sidebars.js
Labels: type: documentation

#6452 Update static options prototype to include props param
  lib/src/interfaces/NavigationComponent.ts
Labels: type: accepted/enhancement

#6453 Include componentId in props passed to static options generator
  lib/src/commands/LayoutTreeCrawler.test.ts
  lib/src/commands/LayoutTreeCrawler.ts
Labels: type: accepted/enhancement

#6457 Update Starter Kits information
  website/docs/docs-showcases.mdx
Labels: type: documentation

#6462 Cancel showModal animation if back was pressed during animation
  lib/android/app/src/main/java/com/reactnativenavigation/utils/AnimationListener.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimator.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalPresenter.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimatorMock.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimatorTest.kt
Labels: platform: Android, type: accepted/bug

#6466 Fix option processors path resolving
  lib/src/commands/OptionsProcessor.test.ts
  lib/src/commands/OptionsProcessor.ts
Labels: type: accepted/bug

#6465 Unmount merged right buttons
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.java
Labels: platform: Android, type: accepted/bug

#6460 Fix Android TopTabs
  lib/android/app/src/main/java/com/reactnativenavigation/options/TopTabsOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/utils/UiUtils.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/component/ComponentPresenterBase.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/toptabs/TopTabsAdapter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/toptabs/TopTabsController.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/TopBar.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/toptabs/TopTabs.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/toptabs/TopTabsViewPager.java
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/TestComponentViewCreator.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/toptabs/TopTabsViewControllerTest.java
  playground/src/screens/LayoutsScreen.tsx
  playground/src/testIDs.ts
Labels: platform: Android, type: accepted/enhancement

#6469 Don't reject promise if popToRoot is called and there's nothing to pop
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackController.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackControllerTest.java
Labels: platform: Android, type: accepted/bug

#6471 Update v7 auto link script
  autolink/postlink/appDelegateLinker.js
Labels: Infrastructure

#6473 Fix momentum scroll bug on iOS
  lib/ios/RNNComponentViewController.m
  lib/ios/Utils/UIView+Utils.h
  lib/ios/Utils/UIView+Utils.m
Labels: Wix, platform: iOS, type: accepted/bug

#6474 Update docs-basic-navigation.mdx
  website/docs/docs-basic-navigation.mdx
Labels: type: documentation

#6472 Resize title component when button is added to TopBar
  e2e/Buttons.test.js
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBarReactView.java
  playground/src/screens/ButtonsScreen.tsx
  playground/src/screens/CustomTopBar.tsx
  playground/src/screens/PushedScreen.tsx
  playground/src/testIDs.ts
Labels: platform: Android, type: accepted/bug

#6475 Remove SafeAreaView from FlatList screen
  playground/src/screens/FlatListScreen.tsx
  website/api/options-bottomTabs.mdx
Labels: type: documentation

#6476 Fix category warnings for RNNInterpolationOptions
  lib/ios/RCTConvert+Interpolation.h
  lib/ios/RCTConvert+Interpolation.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
Labels: platform: iOS, type: accepted/bug

#6477 Enable PlatformColor / DynamicColorIOS for iOS
  lib/ios/ColorParser.m
Labels: platform: iOS, type: accepted/enhancement

#6485 Updated android install instructions
  website/docs/docs-Installing.mdx
Labels: type: documentation

#6489 Fix large title styles
  lib/ios/TopBarAppearancePresenter.m
  playground/ios/NavigationTests/RNNRootViewControllerTest.m
Labels: platform: iOS, type: accepted/bug

#6483 fixed typo in recursivelySetDefaultOptions
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNDefaultOptionsHelper.h
  lib/ios/RNNDefaultOptionsHelper.m
Labels: platform: iOS, type: accepted/enhancement

#6488 Fix backButton crash after calling setStackRoot
  lib/ios/RNNComponentPresenter.m
  lib/ios/TopBarTitlePresenter.h
  lib/ios/TopBarTitlePresenter.m
  playground/ios/NavigationIOS12Tests/RNNRootViewControllerTest.m
  playground/ios/NavigationTests/RNNComponentPresenterTest.m
  playground/ios/NavigationTests/RNNRootViewControllerTest.m
  playground/ios/NavigationTests/RNNStackControllerTest.m
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_title_change_push@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_title_font_pop@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_title_font_push@2x.png
Labels: platform: iOS, type: accepted/bug

#6504 Fix color parser
  lib/ios/ColorParser.m
  playground/ios/NavigationTests/ColorParserTest.m
  playground/ios/playground.xcodeproj/project.pbxproj
Labels: platform: iOS, type: accepted/bug

#6507 Use correct ScaleType when animating same element multiple times
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/MatrixAnimator.kt
Labels: platform: Android, type: accepted/bug

#6501 Moved @implementation to .m files
  lib/ios/RCTConvert+SideMenuOpenGestureMode.h
  lib/ios/RCTConvert+SideMenuOpenGestureMode.m
  lib/ios/RCTConvert+UIFontWeight.h
  lib/ios/RCTConvert+UIFontWeight.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
Labels: platform: iOS, type: accepted/enhancement

#6500 Only initialize UIWindow if needed
  lib/ios/RNNBasePresenter.m
  lib/ios/ReactNativeNavigation.m
Labels: platform: iOS, type: accepted/enhancement

#6520 Make docs-functional-components a bit less confusing
  website/docs/docs/docs-functional-components.mdx
Labels: type: documentation

#6512 Moved website code snippets to own files
  website/docs/docs/style-screens.mdx
  website/docs/docs/style-screens/command-options.tsx
  website/docs/docs/style-screens/merge-options.tsx
  website/docs/docs/style-screens/static-options-class.tsx
  website/docs/docs/style-screens/static-options-experiments.tsx
  website/docs/docs/style-screens/static-options-fn.tsx
  website/docs/docs/style-screens/static-options-props-class.tsx
  website/docs/docs/style-screens/static-options-props-fn.tsx
  website/docs/docs/style-theme.mdx
  website/docs/docs/style-theme/layout-processor.tsx
  website/docs/docs/style-theme/option-processor-defaults.tsx
  website/docs/docs/style-theme/option-processor.tsx
  website/docs/docs/third-party-mobx.mdx
  website/docs/docs/third-party-mobx/counter-screen.tsx
  website/docs/docs/third-party-mobx/counter-store.tsx
  website/docs/docs/third-party-mobx/persistent-data.tsx
  website/docs/docs/third-party-react-context.mdx
  website/docs/docs/third-party-react-context/App-consumer.tsx
  website/docs/docs/third-party-react-context/App.tsx
  website/docs/docs/third-party-react-context/CounterContext.tsx
  website/docs/docs/third-party-react-context/index.tsx
  website/docs/docs/third-party-typescript.mdx
  website/docs/docs/third-party-typescript/strongly-typed-components-class.tsx
  website/docs/docs/third-party-typescript/strongly-typed-components-fn.tsx
  website/docs/docs/third-party-typescript/typed-props-in-commands.tsx
  website/docusaurus.config.js
  website/index.d.ts
  website/package.json
  website/tsconfig.json
Labels: type: documentation

#6494 Fix default modalPresentationStyle on < iOS 13
  lib/ios/RNNConvert.m
Labels: platform: iOS, type: accepted/bug
