Repository wix/react-native-navigation, pull requests merged in 2020-12, with the labels that each got.

#6799 Fix release script
  scripts/documentation.js
  scripts/documentation.test.js
Labels: Infrastructure

#6802 Add image gallery to the playground app
  playground/img/imageGallery/158xD4xbeh.jpeg
  playground/img/imageGallery/37r6Cqp1B8.jpeg
  playground/img/imageGallery/5Gi8kova3k.jpeg
  playground/img/imageGallery/61mpAVRV73.jpeg
  playground/img/imageGallery/A4g0lZ33Z8.jpeg
  playground/img/imageGallery/AdGXmD1CH6.jpeg
  playground/img/imageGallery/Cfw87359UT.jpeg
  playground/img/imageGallery/N30E32431C.jpeg
  playground/img/imageGallery/a848dHxA4e.jpeg
  playground/img/imageGallery/j51Pva1P8L.jpeg
  playground/img/imageGallery/kVN0FryOZk.jpeg
  playground/img/imageGallery/pqgylg80SD.jpeg
  playground/img/imageGallery/rVOcz7rd0z.jpeg
  playground/img/imageGallery/ri90ueind7.jpeg
  playground/img/imageGallery/v8KLi2f0Tr.jpeg
  playground/img/imageGallery/xU42hx19BB.jpeg
  playground/src/assets/imageGallery.ts
  playground/src/screens/NavigationScreen.tsx
  playground/src/screens/Screens.ts
  playground/src/screens/imageGallery/ImageGalleryItemScreen.tsx
  playground/src/screens/imageGallery/ImageGalleryListScreen.tsx
  playground/src/screens/index.tsx
Labels: Infrastructure

#6806 Fix 'Contribution Guidelines' links
  .github/ISSUE_TEMPLATE/bug.md
  CONTRIBUTING.md
Labels: Infrastructure

#6803 Embed launch storyboard vc into RNNSplashScreen
  lib/ios/RNNBasePresenter.m
  lib/ios/RNNSplashScreen.m
Labels: platform: iOS, type: accepted/bug

#6809 Fix stack popGesture in sideMenu
  lib/ios/RNNSideMenu/MMDrawerController/MMDrawerController.m
Labels: platform: iOS, type: accepted/bug

#6811 Fix grouping issues with both Android and iOS label
  .grenrc.js
Labels: Infrastructure

#6810 Fix SET hijacked react view position index
  lib/ios/AnimatedReactView.m
  lib/ios/RNNViewLocation.h
  lib/ios/RNNViewLocation.m
Labels: platform: iOS, type: accepted/bug

#6817 searchBar set focus
  lib/ios/RNNComponentPresenter.m
  lib/ios/RNNSearchBarOptions.h
  lib/ios/RNNSearchBarOptions.m
  lib/ios/UIViewController+RNNOptions.h
  lib/ios/UIViewController+RNNOptions.m
  lib/src/interfaces/Options.ts
  website/docs/api/topBar-searchBar.mdx
Labels: feature: SearchBar, platform: iOS, type: accepted/enhancement

#6812 Add Navigation.dismissAllOverlays api
  e2e/Overlay.test.js
  lib/android/app/src/main/java/com/reactnativenavigation/react/NavigationModule.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/navigator/Navigator.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/overlay/OverlayManager.java
  lib/ios/RNNBridgeModule.m
  lib/ios/RNNCommandsHandler.h
  lib/ios/RNNCommandsHandler.m
  lib/src/Navigation.ts
  lib/src/adapters/NativeCommandsSender.ts
  lib/src/commands/Commands.test.ts
  lib/src/commands/Commands.ts
  lib/src/interfaces/CommandName.ts
  playground/src/screens/OverlayAlert.tsx
  playground/src/screens/OverlayScreen.tsx
  playground/src/services/Navigation.ts
  playground/src/testIDs.ts
  website/docs/api/api-overlay.mdx
Labels: platform: Android, platform: iOS, type: accepted/enhancement

#6814 Fix search bar visibility toggle
  e2e/SearchBar.test.js
  e2e/Utils.js
  lib/ios/RNNComponentPresenter.m
  lib/ios/UIViewController+RNNOptions.h
  lib/ios/UIViewController+RNNOptions.m
  package.json
  playground/src/screens/OptionsScreen.tsx
  playground/src/screens/Screens.ts
  playground/src/screens/SearchBar.tsx
  playground/src/screens/index.tsx
  playground/src/testIDs.ts
Labels: feature: SearchBar, platform: iOS, type: accepted/bug

#6820 Fix stack popGesture in sideMenu
  lib/ios/RNNSideMenu/MMDrawerController/MMDrawerController.m
Labels: platform: iOS, type: accepted/bug

#6826 Fix toggling topBar border visibility
  lib/ios/Bool.h
  lib/ios/Bool.m
  lib/ios/TopBarAppearancePresenter.h
  lib/ios/TopBarAppearancePresenter.m
  lib/ios/TopBarPresenter.h
  playground/ios/NavigationTests/BottomTabsControllerTest.m
  playground/ios/NavigationTests/RNNBasePresenterTest.m
  playground/ios/NavigationTests/RNNNavigationStackManagerTest.m
  playground/ios/NavigationTests/RNNSideMenuControllerTest.m
  playground/ios/NavigationTests/RNNStackControllerTest.m
  playground/ios/NavigationTests/TopBarAppearancePresenterTest.m
Labels: platform: iOS, type: accepted/bug

#6831 Fix options.bottomTabs.titleDisplayMode
  website/docs/api/options-bottomTabs.mdx
  website/versioned_docs/version-7.0.0/api/options-bottomTabs.mdx
Labels: type: documentation

#6825 Add full screen image viewer page for Car Dealer
  playground/src/screens/Screens.ts
  playground/src/screens/index.tsx
  playground/src/screens/sharedElementCarDealer/CarDetailsScreen.tsx
  playground/src/screens/sharedElementCarDealer/Constants.ts
  playground/src/screens/sharedElementCarDealer/ImageFullScreenViewer.tsx
Labels: Infrastructure

#6832 Add the ability to build specific docs version in CI
  scripts/release.js
Labels: Infrastructure

#6833 Allow popping using the stack id
  e2e/Stack.test.js
  lib/ios/RNNCommandsHandler.m
  lib/ios/UINavigationController+RNNCommands.h
  lib/ios/UINavigationController+RNNCommands.m
  playground/src/components/Button.tsx
  playground/src/screens/LayoutsScreen.tsx
  playground/src/screens/PushedScreen.tsx
  playground/src/testIDs.ts
Labels: platform: iOS, type: accepted/bug

#6837 Add the ability to dry build docusaurus
  scripts/documentation.js
  scripts/release.js
Labels: Infrastructure

#6836 Set rootViewController to nil from main thread
  lib/ios/RNNBridgeManager.mm
Labels: platform: iOS, type: accepted/bug

#6838 Use firstObject instead of count and subscript
  lib/ios/UINavigationController+RNNOptions.m
  lib/ios/UIViewController+RNNOptions.m
Labels: platform: iOS, type: accepted/enhancement

#6829 Fix iOS hit test in overlays
  lib/ios/RNNOverlayWindow.m
Labels: platform: iOS, type: accepted/bug

#6840 Use firstObject instead of count and subscript
  lib/ios/RNNOverlayWindow.m
Labels: platform: iOS, type: accepted/enhancement

#6841 Support textual and custom buttons in topBar.leftButtons
  e2e/Buttons.test.js
  lib/android/app/src/main/java/com/reactnativenavigation/options/LayoutDirection.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/TopBarButtons.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/TopBarOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/utils/Functions.java
  lib/android/app/src/main/java/com/reactnativenavigation/utils/UiUtils.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/TopBarController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonController.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonPresenter.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/TopBar.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/LeftButtonsBar.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBar.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/TitleBarButtonControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/TopBarControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBarTest.java
  playground/src/screens/ButtonsScreen.tsx
  playground/src/testIDs.ts
Labels: platform: Android, type: accepted/enhancement

#6482 Fix hitbox of UIBarButtonItem
  lib/ios/RNNInsetsOptions.h
  lib/ios/RNNInsetsOptions.m
  lib/ios/RNNNavigationButtons.m
  lib/ios/RNNUIBarButtonItem.h
  lib/ios/RNNUIBarButtonItem.m
Labels: platform: iOS, type: accepted/bug, 📌 pinned

#6842 Update buttons documentation
  website/docs/docs/docs-stack.mdx
Labels: type: documentation

#6849 Fix searchBar.hideOnScroll
  lib/ios/RNNBridgeManager.mm
  lib/ios/RNNSearchBarOptions.m
  playground/ios/NavigationTests/RNNSearchBarOptionsTest.m
  playground/ios/playground.xcodeproj/project.pbxproj
Labels: platform: iOS, type: accepted/bug

#6850 Fix title flashes during transition between small and large title while scrolling
  lib/ios/TopBarAppearancePresenter.m
  playground/ios/NavigationTests/TopBarAppearancePresenterTest.m
Labels: platform: iOS, type: accepted/bug

#6855 Support large bottomTab icons
  lib/android/app/build.gradle
  lib/android/app/src/main/java/com/reactnativenavigation/options/BottomTabOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/BottomTabsOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsPresenter.java
  lib/src/interfaces/Options.ts
  playground/android/settings.gradle
  playground/img/plus@2x.android.png
  playground/img/plus@2x.ios.png
  website/docs/api/options-bottomTab.mdx
  website/docs/api/options-bottomTabs.mdx
Labels: platform: Android, type: accepted/enhancement

#6851 Support drawing rounded rect backgrounds behind TopBar buttons
  lib/android/app/src/main/java/com/reactnativenavigation/options/ButtonOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/IconBackgroundOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/params/DensityPixel.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/params/NullDensityPixel.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/parsers/DensityPixelParser.java
  lib/android/app/src/main/java/com/reactnativenavigation/utils/UiUtils.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonPresenter.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/IconBackgroundDrawable.kt
  lib/ios/Param.h
  lib/ios/Param.m
  lib/ios/RNNButtonBuilder.h
  lib/ios/RNNButtonBuilder.m
  lib/ios/RNNButtonOptions.h
  lib/ios/RNNButtonOptions.m
  lib/ios/RNNButtonsParser.h
  lib/ios/RNNButtonsParser.m
  lib/ios/RNNButtonsPresenter.h
  lib/ios/RNNButtonsPresenter.m
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNComponentOptions.h
  lib/ios/RNNComponentOptions.m
  lib/ios/RNNComponentPresenter.h
  lib/ios/RNNComponentPresenter.m
  lib/ios/RNNComponentViewController.h
  lib/ios/RNNComponentViewController.m
  lib/ios/RNNControllerFactory.m
  lib/ios/RNNFontAttributesCreator.h
  lib/ios/RNNFontAttributesCreator.m
  lib/ios/RNNIconBackgroundOptions.h
  lib/ios/RNNIconBackgroundOptions.m
  lib/ios/RNNInsetsOptions.h
  lib/ios/RNNInsetsOptions.m
  lib/ios/RNNNavigationButtons.h
  lib/ios/RNNNavigationButtons.m
  lib/ios/RNNNavigationOptions.m
  lib/ios/RNNTabBarItemCreator.m
  lib/ios/RNNTopBarOptions.h
  lib/ios/RNNTopBarOptions.m
  lib/ios/RNNUIBarButtonItem.h
  lib/ios/RNNUIBarButtonItem.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  lib/ios/TopBarAppearancePresenter.m
  lib/ios/TopBarPresenter.m
  lib/src/interfaces/Options.ts
  playground/ios/NavigationIOS12Tests/RNNRootViewControllerTest.m
  playground/ios/NavigationTests/RNNButtonsPresenterTest.m
  playground/ios/NavigationTests/RNNCommandsHandlerTest.m
  playground/ios/NavigationTests/RNNComponentPresenterTest.m
  playground/ios/NavigationTests/RNNFontAttributesCreatorTest.m
  playground/ios/NavigationTests/RNNLayoutManagerTest.m
  playground/ios/NavigationTests/RNNRootViewControllerTest.m
  playground/ios/NavigationTests/RNNUIBarButtonItemTest.m
  playground/ios/NavigationTests/utils/RNNComponentViewController+Utils.m
  playground/ios/playground.xcodeproj/project.pbxproj
  playground/ios/playground.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  website/docs/api/options-button.mdx
  website/docs/api/options-iconBackground.mdx
  website/sidebars.js
Labels: platform: Android, platform: iOS, type: accepted/enhancement

#6861 Fix auto-link wrong minSdkVersion
  autolink/postlink/gradleLinker.js
  website/docs/docs/docs-Installing.mdx
  website/versioned_docs/version-7.0.0/docs/docs-Installing.mdx
Labels: platform: Android, type: accepted/bug

#6860 Add scrollEdgeAppearance border options
  lib/ios/RNNScrollEdgeAppearanceOptions.h
  lib/ios/RNNScrollEdgeAppearanceOptions.m
  lib/ios/TopBarAppearancePresenter.h
  lib/ios/TopBarAppearancePresenter.m
  lib/src/interfaces/Options.ts
  playground/ios/NavigationTests/RNNNavigationStackManagerTest.m
  playground/ios/NavigationTests/TopBarAppearancePresenterTest.m
  website/docs/api/options-scrollEdgeAppearance.mdx
Labels: platform: iOS, type: accepted/bug

#6862 Fix default button size with insets
  lib/ios/RNNUIBarButtonItem.m
  playground/ios/NavigationTests/RNNUIBarButtonItemTest.m
Labels: platform: iOS, type: accepted/bug

#6863 Fix sidemenu drawer width support‏
  e2e/SideMenu.test.js
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/sidemenu/SideMenuController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/sidemenu/SideMenuPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/sidemenu/SideMenuRoot.java
  playground/src/screens/SideMenuCenterScreen.tsx
  playground/src/screens/SideMenuLeftScreen.tsx
  playground/src/screens/SideMenuRightScreen.tsx
  playground/src/testIDs.ts
Labels: platform: Android, type: accepted/bug

#6864 Fix build documentation from Jenkins
  scripts/documentation.js
  scripts/documentation.test.js
  scripts/release.js
Labels: Infrastructure, type: accepted/enhancement

#6866 Fix scrollEdgeAppearance border visibility
  lib/ios/TopBarAppearancePresenter.m
  playground/ios/NavigationTests/TopBarAppearancePresenterTest.m
Labels: platform: iOS, type: accepted/bug

#6867 Fix ViewAnimationOptions not merging correctly
  lib/ios/ViewAnimationOptions.m
Labels: platform: iOS, type: accepted/bug

#6868 Fix (Types) - Icon type does not accept object
  lib/src/adapters/AssetResolver.ts
  lib/src/interfaces/Options.ts
Labels: type: accepted/bug

#6870 Fix top bar flickering at first render with an empty title
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.java
Labels: platform: Android, type: accepted/bug

#6871 Fix external component appearance events
  lib/ios/RNNExternalViewController.m
  playground/ios/NavigationTests/RNNExternalViewControllerTests.m
Labels: platform: iOS, type: accepted/bug

#6767 Adding displayMode support for Back Button Menu on iOS 14
  lib/ios/RNNBackButtonOptions.h
  lib/ios/RNNBackButtonOptions.m
  lib/ios/TopBarPresenter.m
  lib/src/interfaces/Options.ts
  website/docs/api/options-backButton.mdx
Labels: platform: iOS, type: accepted/bug

#6874 Allow disabling iOS 14 long back button menu
  lib/ios/RNNBackButtonOptions.h
  lib/ios/RNNBackButtonOptions.m
  lib/ios/RNNUIBarBackButtonItem.h
  lib/ios/RNNUIBarBackButtonItem.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  lib/ios/TopBarPresenter.m
  lib/src/interfaces/Options.ts
  playground/src/screens/PushedScreen.tsx
  website/docs/api/options-backButton.mdx
Labels: platform: iOS, type: accepted/enhancement

#6872 Rename getWithDefaultValue to withDefault
  lib/ios/Bool.h
  lib/ios/Bool.m
  lib/ios/BottomTabPresenter.m
  lib/ios/BottomTabsAttachMode.h
  lib/ios/BottomTabsAttachModeFactory.m
  lib/ios/BottomTabsBasePresenter.m
  lib/ios/Color.h
  lib/ios/Color.m
  lib/ios/Double.h
  lib/ios/Double.m
  lib/ios/Enum.h
  lib/ios/Enum.m
  lib/ios/FloatTransition.m
  lib/ios/Image.h
  lib/ios/Image.m
  lib/ios/IntNumber.h
  lib/ios/IntNumber.m
  lib/ios/NoColor.m
  lib/ios/Number.h
  lib/ios/Number.m
  lib/ios/Param.h
  lib/ios/Param.m
  lib/ios/RCTConvert+Interpolation.m
  lib/ios/RNNAnimationsTransitionDelegate.m
  lib/ios/RNNBasePresenter.m
  lib/ios/RNNBottomTabsController.m
  lib/ios/RNNBottomTabsOptions.m
  lib/ios/RNNButtonBuilder.m
  lib/ios/RNNButtonOptions.m
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNComponentPresenter.m
  lib/ios/RNNDotIndicatorPresenter.m
  lib/ios/RNNIconBackgroundOptions.m
  lib/ios/RNNInsetsOptions.m
  lib/ios/RNNModalManager.m
  lib/ios/RNNPushAnimation.m
  lib/ios/RNNScreenTransition.m
  lib/ios/RNNSideMenuPresenter.m
  lib/ios/RNNStackPresenter.m
  lib/ios/RNNTabBarItemCreator.m
  lib/ios/RNNTitleViewHelper.m
  lib/ios/RNNTopBarOptions.m
  lib/ios/RNNUIBarBackButtonItem.m
  lib/ios/RNNUIBarButtonItem.m
  lib/ios/SharedElementAnimator.m
  lib/ios/TimeInterval.h
  lib/ios/TimeInterval.m
  lib/ios/TopBarAppearancePresenter.m
  lib/ios/TopBarPresenter.m
  lib/ios/TopBarTitlePresenter.m
  lib/ios/TransitionOptions.m
  lib/ios/ViewAnimationOptions.m
Labels: platform: iOS, type: accepted/enhancement
