Repository wix/react-native-navigation, pull requests merged in 2021-04, with the labels that each got.

#7062 Hide log box in TopBar components
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/YellowBoxDelegate.kt
  lib/android/app/src/reactNative51/java/com/reactnativenavigation/viewcontrollers/viewcontroller/YellowBoxHelper.java
  lib/android/app/src/reactNative55/java/com/reactnativenavigation/viewcontrollers/viewcontroller/YellowBoxHelper.java
  lib/android/app/src/reactNative56/java/com/reactnativenavigation/viewcontrollers/viewcontroller/YellowBoxHelper.java
  lib/android/app/src/reactNative57/java/com/reactnativenavigation/viewcontrollers/viewcontroller/YellowBoxHelper.java
  lib/android/app/src/reactNative57_5/java/com/reactnativenavigation/viewcontrollers/viewcontroller/YellowBoxHelper.java
  lib/android/app/src/reactNative60/java/com/reactnativenavigation/viewcontrollers/viewcontroller/YellowBoxHelper.java
  lib/android/app/src/reactNative62/java/com/reactnativenavigation/viewcontrollers/viewcontroller/YellowBoxHelper.java
  lib/android/app/src/reactNative63/java/com/reactnativenavigation/viewcontrollers/viewcontroller/YellowBoxHelper.java
Labels: platform: Android, type: accepted/bug

#7064 Fix TypeScript error in the playground app
  playground/src/screens/SideMenuCenterScreen.tsx
Labels: Infrastructure

#7071 Fix setRoot animations on iOS
  lib/src/commands/OptionsProcessor.test.ts
  lib/src/commands/OptionsProcessor.ts
Labels: platform: iOS, type: accepted/bug

#7074 Stack declared children crash on duplicate id
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackController.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackControllerTest.kt
Labels: platform: Android, type: accepted/bug

#7045 Support shared element transition for images with different resizeMode
  lib/ios/AnimatedImageView.h
  lib/ios/AnimatedImageView.m
  lib/ios/AnimatedReactView.h
  lib/ios/AnimatedReactView.m
  lib/ios/AnimatedUIImageView.h
  lib/ios/AnimatedUIImageView.m
  lib/ios/AnimatedViewFactory.m
  lib/ios/BoundsTransition.h
  lib/ios/BoundsTransition.m
  lib/ios/CenterTransition.h
  lib/ios/CenterTransition.m
  lib/ios/PathTransition.h
  lib/ios/PathTransition.m
  lib/ios/RNNInterpolator.h
  lib/ios/RNNInterpolator.m
  lib/ios/RNNScreenTransitionsCreator.h
  lib/ios/RNNScreenTransitionsCreator.m
  lib/ios/RNNViewLocation.h
  lib/ios/RNNViewLocation.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  lib/ios/ScreenAnimationController.m
  lib/ios/SharedElementAnimator.h
  lib/ios/SharedElementAnimator.m
  lib/ios/SharedElementTransition.h
  lib/ios/SharedElementTransition.m
  lib/ios/SharedElementTransitionsCreator.h
  lib/ios/SharedElementTransitionsCreator.m
  lib/ios/TransformRectTransition.h
  lib/ios/TransformRectTransition.m
  lib/ios/UIImageView+Transition.h
  lib/ios/UIImageView+Transition.m
  lib/ios/Utils/UIView+Utils.h
  lib/ios/Utils/UIView+Utils.m
  playground/android/build.gradle
  playground/src/screens/imageGallery/ImageGalleryListScreen.tsx
Labels: platform: iOS, type: accepted/enhancement

#7079 Fix SET if image has not yet been loaded
  lib/ios/AnimatedImageView.m
  lib/ios/UIImageView+Transition.h
  lib/ios/UIImageView+Transition.m
Labels: feature: Shared Element Transition, platform: iOS, type: accepted/bug

#7077 Improve documentation of back navigation
  website/docs/docs/docs-customBackNavigation.mdx
  website/docs/docs/docs-stack.mdx
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/sidebars.js
Labels: type: documentation

#7081 Shared element android fix
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalPresenter.java
  lib/android/app/src/test/java/com/reactnativenavigation/options/TransitionAnimationOptionsTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimatorTest.kt
Labels: feature: Animations, feature: Shared Element Transition, platform: Android, type: accepted/bug

#7089 docs: Update option-processor rightButtons example
  website/docs/docs/style-theme/option-processor-defaults.tsx
  website/versioned_docs/version-6.12.2/docs/style-theme/option-processor-defaults.tsx
  website/versioned_docs/version-7.11.2/docs/style-theme/option-processor-defaults.tsx
  website/versioned_docs/version-7.13.0/docs/style-theme/option-processor-defaults.tsx
  website/versioned_docs/version-7.7.0/docs/style-theme/option-processor-defaults.tsx
Labels: type: documentation

#7091 Fix disabling modal animations on iOS
  lib/ios/RNNAnimationsOptions.m
  lib/ios/ViewAnimationOptions.m
Labels: platform: iOS, type: accepted/bug

#7093 Fix fade animation in shared element android
  lib/android/app/src/main/java/com/reactnativenavigation/options/FadeAnimation.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/FadeInAnimation.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/FadeOutAnimation.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackAnimator.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimatorTest.kt
Labels: feature: Animations, feature: Shared Element Transition, platform: Android, type: accepted/bug

#7092 Fix backButton testID not applied after mergeOptions
  e2e/BackButton.test.js
  lib/ios/RNNStackPresenter.m
  playground/src/screens/BackButtonScreen.tsx
  playground/src/testIDs.ts
Labels: platform: iOS, type: accepted/bug

#7097 Add Nifty and Squarespace scheduling to the showcase section
  website/src/data/apps.js
  website/src/data/showcase/acuity.png
  website/src/data/showcase/nifty.png
Labels: type: documentation

#7099 Add the new Wix apps to the showcase section
  website/src/data/apps.js
  website/src/data/showcase/owner.png
  website/src/data/showcase/spaces.png
  website/src/data/showcase/wix.png
Labels: type: documentation

#7103 Remove duplicate disableIconTint option in API documentation.
  website/versioned_docs/version-7.13.0/api/options-bottomTab.mdx
Labels: type: documentation

#7106 Fix tabsAttachMode: 'afterInitialTab'
  lib/ios/RNNBottomTabsController.m
Labels: platform: iOS, type: accepted/bug
