Repository wix/react-native-navigation, pull requests merged in 2021-10, with the labels that each got.

#7278 Update react-native to 0.65.1
  autolink/postlink/gradleLinker.js
  lib/android/app/build.gradle
  lib/android/build.gradle
  lib/android/gradle/wrapper/gradle-wrapper.properties
  lib/android/gradlew
  lib/android/gradlew.bat
  lib/src/components/ComponentWrapper.test.tsx
  package.json
  playground/android/app/build.gradle
  playground/android/build.gradle
  playground/android/gradle/wrapper/gradle-wrapper.properties
  playground/android/gradlew
  playground/android/gradlew.bat
  playground/android/settings.gradle
  playground/ios/Podfile
  playground/ios/playground.xcodeproj/project.pbxproj
Labels: platform: iOS, platform: Android, Infrastructure

#7279 use HMSegmentedControl from pod instead of standalone file
  ReactNativeNavigation.podspec
  lib/ios/HMSegmentedControl.h
  lib/ios/HMSegmentedControl.m
  lib/ios/RNNSegmentedControl.h
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  playground/ios/Podfile
Labels: platform: iOS, type: accepted/enhancement

#7282 [Android][Accessibility] Prevent overwrite accessibilityLabel of BackButton
  lib/android/app/src/main/java/com/reactnativenavigation/options/BackButton.java
  lib/android/app/src/test/java/com/reactnativenavigation/options/OptionsTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/options/TopBarButtonsTest.kt
Labels: platform: Android, type: accepted/bug

#7260 Declarative modals on Android
  e2e/Modals.test.js
  lib/android/app/src/main/java/com/reactnativenavigation/react/NavigationPackage.java
  lib/android/app/src/main/java/com/reactnativenavigation/react/NavigationPackage.kt
  lib/android/app/src/main/java/com/reactnativenavigation/react/NavigationReactInitializer.java
  lib/android/app/src/main/java/com/reactnativenavigation/react/modal/Events.kt
  lib/android/app/src/main/java/com/reactnativenavigation/react/modal/ModalContentLayout.kt
  lib/android/app/src/main/java/com/reactnativenavigation/react/modal/ModalFrameLayout.kt
  lib/android/app/src/main/java/com/reactnativenavigation/react/modal/ModalHostLayout.kt
  lib/android/app/src/main/java/com/reactnativenavigation/react/modal/ModalLayoutController.kt
  lib/android/app/src/main/java/com/reactnativenavigation/react/modal/ModalViewManager.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/component/ComponentPresenterBase.java
  lib/src/adapters/TouchablePreview.tsx
  lib/src/commands/Commands.test.ts
  lib/src/components/ComponentWrapper.test.tsx
  lib/src/components/ComponentWrapper.tsx
  lib/src/components/Modal.tsx
  lib/src/components/Store.test.ts
  lib/src/index.ts
  playground/src/screens/ModalScreen.tsx
  playground/src/testIDs.ts
  website/docs/docs/docs-modal.mdx
Labels: platform: Android, type: accepted/enhancement

#7259 Fix empty dynamic colors object when using PlatformColors on iOS
  lib/src/commands/OptionsProcessor.ts
Labels: platform: iOS, type: accepted/bug

#7274 Fix dot indicator location on iOS
  lib/ios/RNNDotIndicatorPresenter.m
  playground/ios/NavigationTests/RNNDotIndicatorPresenterTest.m
Labels: platform: iOS, type: accepted/bug

#7271 Add SF Symbols support to bottom tab and top bar's back button
  lib/ios/RNNBackButtonOptions.h
  lib/ios/RNNBackButtonOptions.m
  lib/ios/RNNBottomTabOptions.h
  lib/ios/RNNBottomTabOptions.m
  lib/ios/RNNTabBarItemCreator.m
  lib/ios/TopBarPresenter.m
  lib/src/interfaces/Options.ts
  website/docs/api/options-backButton.mdx
  website/docs/api/options-bottomTab.mdx
Labels: platform: iOS, type: accepted/enhancement

#7286 Use View from React Native
  lib/src/components/Modal.tsx
Labels: platform: iOS, platform: Android, type: accepted/bug

#7287 Fix nullable dispatcher of modals on Android
  lib/android/app/src/main/java/com/reactnativenavigation/react/modal/ModalLayoutController.kt
Labels: platform: Android, type: accepted/bug

#7293 Fix documentation build in CI
  scripts/documentation.js
  scripts/documentation.test.js
Labels: Infrastructure

#7294 Fix hardware back button event button id in docs
  website/docs/docs/docs-customBackNavigation.mdx
  website/versioned_docs/version-7.16.0/docs/docs-customBackNavigation.mdx
Labels: type: documentation

#7296 Fix documentation build
  package.json
  scripts/documentation.js
  scripts/documentation.test.js
Labels: type: documentation
