Repository wix/react-native-navigation, pull requests merged in 2021-12, with the labels that each got.

#7378 Fix More tab appearance on iOS
  lib/ios/BottomTabPresenter.h
  lib/ios/BottomTabPresenter.m
  lib/ios/RNNBasePresenter.h
  lib/ios/RNNBasePresenter.m
  lib/ios/RNNBottomTabsController.m
  lib/ios/RNNComponentPresenter.m
  lib/ios/RNNComponentViewController.m
  lib/ios/RNNExternalViewController.m
  lib/ios/RNNSideMenuChildVC.m
  lib/ios/RNNSideMenuController.m
  lib/ios/RNNSplitViewController.m
  lib/ios/RNNStackController.m
  playground/ios/NavigationTests/BottomTabsControllerTest.m
Labels: platform: iOS, type: accepted/bug

#7380 Bottom tabs selection stack (HW button Android)
  e2e/BottomTabs.test.js
  lib/android/app/src/main/java/com/reactnativenavigation/options/HardwareBackButtonOptions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsController.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsControllerTest.kt
  lib/src/interfaces/Options.ts
  playground/src/screens/FirstBottomTabScreen.tsx
  playground/src/screens/LayoutsScreen.tsx
  website/docs/api/options-hardwareBackButton.mdx
Labels: platform: Android, type: accepted/enhancement

#7376 Fix lagging keyboard when using autoFocus
  e2e/Keyboard.test.js
  lib/ios/AnimationObserver.h
  lib/ios/AnimationObserver.m
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNComponentViewController.m
  lib/ios/RNNExternalViewController.m
  lib/ios/RNNSwizzles.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  playground/src/screens/KeyboardScreen.tsx
  playground/src/testIDs.ts
Labels: platform: iOS, type: accepted/bug

#7299 Update typescript to 4.x.x
  lib/src/commands/OptionsCrawler.ts
  lib/src/components/ComponentWrapper.test.tsx
  lib/src/events/ComponentEventsObserver.ts
  lib/src/events/EventsRegistry.ts
  package.json
  playground/src/assets/imageGallery.ts
  playground/src/commons/Colors.ts
  playground/src/screens/LifecycleScreen.tsx
  playground/src/screens/sharedElementCarDealer/DismissableView.tsx
Labels: Infrastructure

#7313 Move mocks to lib/Mock and build Mock.ts
  .gitignore
  Mock.ts
  jest.config.js
  lib/Mock/Application.tsx
  lib/Mock/ComponentProps.tsx
  lib/Mock/Components/BottomTabs.tsx
  lib/Mock/Components/ComponentScreen.tsx
  lib/Mock/Components/LayoutComponent.tsx
  lib/Mock/Components/Modals.tsx
  lib/Mock/Components/NavigationButton.tsx
  lib/Mock/Components/Overlays.tsx
  lib/Mock/Components/Stack.tsx
  lib/Mock/Components/TopBar.tsx
  lib/Mock/Layouts/BottomTabsNode.ts
  lib/Mock/Layouts/ComponentNode.ts
  lib/Mock/Layouts/LayoutNodeFactory.ts
  lib/Mock/Layouts/Node.ts
  lib/Mock/Layouts/ParentNode.ts
  lib/Mock/Layouts/StackNode.ts
  lib/Mock/Stores/EventsStore.ts
  lib/Mock/Stores/LayoutStore.ts
  lib/Mock/connect.ts
  lib/Mock/constants.ts
  lib/Mock/index.ts
  lib/Mock/mocks/AppRegistryService.ts
  lib/Mock/mocks/NativeCommandsSender.tsx
  lib/Mock/mocks/NativeEventsReceiver.ts
  package.json
  scripts/build.js
  tsconfig.json
  tsconfig.mocks.json
Labels: Infrastructure

#7389 Bottom bar visibility Android Fix
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsController.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/bottomtabs/BottomTabs.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsControllerTest.kt
  package.json
  playground/src/screens/LayoutsScreen.tsx
Labels: platform: Android, type: accepted/bug

#7390 RGBA colors of status bar Fix Android
  lib/android/app/src/main/java/com/reactnativenavigation/utils/SystemUiUtils.kt
  lib/android/app/src/test/java/com/reactnativenavigation/utils/SystemUiUtilsTest.kt
  playground/src/screens/SystemUiOptions.tsx
Labels: platform: Android, type: accepted/bug

#7392 ComponentDidDisappear event Android fix
  lib/android/app/src/main/java/com/reactnativenavigation/react/ReactView.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/component/ComponentViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackController.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/component/ComponentViewControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalStackTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/toptabs/TopTabsViewControllerTest.java
  playground/src/screens/LayoutsScreen.tsx
  playground/src/screens/NavigationScreen.tsx
  playground/src/screens/OptionsScreen.tsx
Labels: platform: Android, type: accepted/bug

#7391 Update Kotlin 1.5.31 version in docs
  website/docs/docs/docs-Installing.mdx
Labels: type: documentation, type: accepted/enhancement, Kotlin

#7398 Fix building documentation in CI
  scripts/release.js
Labels: Infrastructure

#7401 Update release.js [buildkite skip]
  scripts/release.js
Labels: Infrastructure

#7404 Fix mock imports [buildkite skip]
  lib/Mock/Components/ComponentScreen.tsx
  lib/Mock/Components/NavigationButton.tsx
  lib/Mock/Components/TopBar.tsx
Labels: Infrastructure, type: accepted/bug

#7412 Remove unneeded RCTUIManager setAvailableSize call
  lib/ios/RNNComponentRootView.m
Labels: platform: iOS, type: accepted/bug

#7415 Exclude android unit tests for non playground projects
  .npmignore
  lib/android/app/build.gradle
  scripts/test-unit.js
Labels: platform: Android, type: accepted/enhancement
