Repository wix/react-native-navigation, pull requests merged in 2021-03, with the labels that each got.

#6996 Fix custom animations on iOS
  lib/ios/RNNScreenTransition.m
Labels: platform: iOS, type: accepted/bug

#6998 Fix back button doesn't pop on iOS 12
  lib/ios/RNNNavigationBarDelegateHandler.h
  lib/ios/RNNNavigationBarDelegateHandler.m
  lib/ios/RNNStackController.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  lib/ios/StackControllerDelegate.h
  lib/ios/StackControllerDelegate.m
Labels: platform: iOS, type: accepted/bug

#6999 Fix release notes
  scripts/release.js
Labels: Infrastructure, skip-changelog

#7000 Fix momentum scroll bug
  lib/ios/RNNComponentViewController.m
Labels: platform: iOS, type: accepted/bug

#6997 Fix bottomTabs More tab not clickable
  lib/ios/RNNBottomTabsController.m
  playground/ios/NavigationTests/BottomTabsControllerTest.m
Labels: platform: iOS, type: accepted/bug

#6785 Add componentWillAppear event
  e2e/StaticLifecycleEvents.test.js
  lib/android/app/src/main/java/com/reactnativenavigation/react/ReactView.java
  lib/android/app/src/main/java/com/reactnativenavigation/react/events/EventEmitter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/component/ComponentViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/externalcomponent/ExternalComponentViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/TopBarBackgroundViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonController.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/title/TitleBarReactViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/component/ComponentLayout.java
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/TestComponentLayout.java
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/TestReactView.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/toptabs/TopTabsViewControllerTest.java
  lib/ios/RNNBasePresenter.h
  lib/ios/RNNBasePresenter.m
  lib/ios/RNNButtonsPresenter.h
  lib/ios/RNNButtonsPresenter.m
  lib/ios/RNNComponentPresenter.m
  lib/ios/RNNComponentViewController.m
  lib/ios/RNNEventEmitter.h
  lib/ios/RNNEventEmitter.m
  lib/ios/RNNExternalViewController.m
  lib/ios/RNNReactView.h
  lib/ios/RNNReactView.m
  lib/ios/RNNStackPresenter.m
  lib/ios/RNNUIBarButtonItem.h
  lib/ios/RNNUIBarButtonItem.m
  lib/ios/TopBarTitlePresenter.m
  lib/ios/UIViewController+LayoutProtocol.h
  lib/ios/UIViewController+LayoutProtocol.m
  lib/src/adapters/NativeEventsReceiver.ts
  lib/src/events/ComponentEventsObserver.test.tsx
  lib/src/events/ComponentEventsObserver.ts
  lib/src/events/EventsRegistry.test.tsx
  lib/src/events/EventsRegistry.ts
  lib/src/interfaces/ComponentEvents.ts
  lib/src/interfaces/NavigationComponent.ts
  lib/src/interfaces/NavigationComponentListener.ts
  playground/ios/NavigationTests/RNNRootViewControllerTest.m
  playground/ios/NavigationTests/RNNTestRootViewCreator.m
  playground/src/screens/StaticLifecycleOverlay.tsx
  website/docs/api/api-events.mdx
  website/versioned_docs/version-7.11.2/api/api-events.mdx
Labels: type: accepted/enhancement, 📌 pinned

#7015 Remove yellowBox observer on dealloc
  lib/ios/RNNComponentView.m
Labels: platform: iOS, type: accepted/bug

#7022 Title react view crash
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/ViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/MainToolBar.kt
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/SimpleViewController.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/navigator/NavigatorTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/viewcontroller/ViewControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/views/MainToolbarTest.kt
Labels: Wix, platform: Android, type: accepted/bug

#7023 Fix hardwareBackButton docs
  website/docs/api/options-hardwareBackButton.mdx
  website/versioned_docs/version-7.11.2/api/options-hardwareBackButton.mdx
Labels: type: documentation

#7006 setRoot Enter/Exit animation
  lib/android/app/src/main/java/com/reactnativenavigation/hierarchy/root/RootAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/AnimationsOptions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/TransitionAnimationOptions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/react/NavigationModule.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/navigator/Navigator.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/RootPresenter.java
  lib/android/app/src/test/java/com/reactnativenavigation/options/TransitionAnimationOptionsTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimatorMock.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimatorTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalPresenterTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/navigator/NavigatorTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/navigator/RootPresenterTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/navigator/RootPresenterTest.kt
  lib/src/commands/OptionsProcessor.test.ts
  lib/src/commands/OptionsProcessor.ts
  lib/src/interfaces/Options.ts
  package.json
  playground/src/commons/options/Animations.ts
  website/docs/docs/style-animations.mdx
Labels: feature: Animations, platform: Android, type: accepted/enhancement

#7031 Fix android unit tests
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/navigator/NavigatorTest.java
Labels: Infrastructure, platform: Android

#7025 Application showcase! ✨
  website/docusaurus.config.js
  website/package.json
  website/src/data/apps.js
  website/src/data/showcase/amber.png
  website/src/data/showcase/arkhamCards.png
  website/src/data/showcase/christmas.png
  website/src/data/showcase/churchtools.png
  website/src/data/showcase/clubhouse.png
  website/src/data/showcase/deevent.png
  website/src/data/showcase/delta.png
  website/src/data/showcase/feastr.png
  website/src/data/showcase/galarm.png
  website/src/data/showcase/hibob.png
  website/src/data/showcase/intelivest.png
  website/src/data/showcase/obitrain.png
  website/src/data/showcase/stretchminder.png
  website/src/data/showcase/wix.png
  website/src/pages/showcase/index.jsx
  website/src/pages/showcase/styles.module.css
Labels: type: documentation

#7024 remove useless viewIdTracker
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/ViewController.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/navigator/NavigatorTest.java
Labels: platform: Android, type: accepted/bug

#7030 Support enter and exit animations for modals and stack on iOS
  lib/ios/BaseAnimator.m
  lib/ios/ContentTransitionCreator.h
  lib/ios/ContentTransitionCreator.m
  lib/ios/DisplayLinkAnimator.h
  lib/ios/DisplayLinkAnimator.m
  lib/ios/ElementAnimator.h
  lib/ios/ElementAnimator.m
  lib/ios/ElementTransitionsCreator.h
  lib/ios/ElementTransitionsCreator.m
  lib/ios/RNNAnimationsTransitionDelegate.h
  lib/ios/RNNAnimationsTransitionDelegate.m
  lib/ios/RNNEnterExitAnimation.h
  lib/ios/RNNEnterExitAnimation.m
  lib/ios/RNNInteractivePopAnimator.h
  lib/ios/RNNInteractivePopAnimator.m
  lib/ios/RNNModalManager.m
  lib/ios/RNNScreenTransition.h
  lib/ios/RNNScreenTransition.m
  lib/ios/RNNScreenTransitionsCreator.h
  lib/ios/RNNScreenTransitionsCreator.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  lib/ios/ReversedTransitionDelegate.h
  lib/ios/ReversedTransitionDelegate.m
  lib/ios/ScreenAnimationController.h
  lib/ios/ScreenAnimationController.m
  lib/ios/ScreenReversedAnimationController.h
  lib/ios/ScreenReversedAnimationController.m
  lib/ios/StackControllerDelegate.m
  lib/ios/UIViewController+LayoutProtocol.h
  lib/ios/UIViewController+LayoutProtocol.m
  lib/ios/ViewAnimationOptions.h
  lib/ios/ViewAnimationOptions.m
Labels: platform: iOS, type: accepted/enhancement

#7036 Android mergeOptions subtitle center & margin fix
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/TopBar.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.kt
Labels: platform: Android, type: accepted/bug

#7046 Fix shared element crash on Android
  lib/android/app/src/main/java/com/reactnativenavigation/options/ElementTransitions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/SharedElements.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/TransitionAnimationOptions.kt
Labels: feature: Animations, feature: Shared Element Transition, platform: Android, type: accepted/bug

#7049 BackButton on stack root fix
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.kt
Labels: feature: TopBar Buttons, platform: Android, type: accepted/bug

#7047 Fix momentum scroll bug with nested scroll views
  lib/ios/Utils/UIView+Utils.m
Labels: platform: iOS, type: accepted/bug

#7051 Fix rnn-link script for react-native 0.64
  autolink/postlink/appDelegateLinker.js
Labels: Infrastructure, platform: iOS, type: accepted/bug

#7048 Merge Options - left buttons cleared when back button is hidden
  e2e/Buttons.test.js
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.kt
  playground/src/screens/ButtonsScreen.tsx
  playground/src/testIDs.ts
Labels: feature: TopBar Buttons, platform: Android, type: accepted/bug

#7055 Ensure spring animation always completes
  lib/android/app/src/main/java/com/reactnativenavigation/options/interpolators/SpringInterpolator.kt
Labels: feature: Animations, platform: Android, type: accepted/bug

#7053 Fix showcase
  website/src/pages/showcase/index.jsx
  website/src/pages/showcase/styles.module.css
Labels: type: documentation

#7057 Update apps.js
  website/src/data/apps.js
Labels: type: documentation

#7056 Fix copy paste mistake in showcase section in the docs
  website/src/pages/showcase/index.jsx
Labels: type: documentation

#7060 Fix enforcing PR labels
  .github/workflows/require-label.yml
Labels: Infrastructure

#7058 Continued work on the showcase
  website/src/data/apps.js
  website/src/data/showcase/cinepicks.png
  website/src/data/showcase/klarna.png
  website/src/pages/showcase/styles.module.css
Labels: type: documentation

#7059 Don't reload when textInput is focused and user is typing rr
  lib/android/app/src/main/java/com/reactnativenavigation/NavigationActivity.java
  lib/android/app/src/main/java/com/reactnativenavigation/react/JsDevReloadHandler.java
  lib/android/app/src/reactNative63/java/com/reactnativenavigation/react/ReactGateway.java
Labels: platform: Android, type: accepted/bug
