Repository wix/react-native-navigation, pull requests merged in 2021-08, with the labels that each got.

#7212 fix shared element demo colors
  playground/src/screens/sharedElementCarDealer/CarDetailsScreen.tsx
  playground/src/screens/sharedElementCarDealer/CarStoryScreen.tsx
  playground/src/screens/sharedElementCarDealer/CarsListScreen.tsx
Labels: feature: Dark Mode, feature: Shared Element Transition, platform: Android, type: accepted/bug

#7210 Badge cleared dismissing modal Fix
  e2e/BottomTabs.test.js
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabPresenter.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabPresenterTest.java
  playground/src/screens/SecondBottomTabScreen.tsx
Labels: platform: Android, type: accepted/bug

#7209 Add missing displayMode from RNNBackButtonOptions
  lib/ios/RNNBackButtonOptions.m
Labels: platform: iOS, type: accepted/bug

#7211 Null Safety on ReactImageMatrixAnimator Kotlin
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactImageMatrixAnimator.kt
Labels: platform: Android, type: accepted/bug

#6991 Fix android top bar not extending behind status bar
  lib/android/app/build.gradle
  lib/android/app/src/main/java/com/reactnativenavigation/utils/StatusBarUtils.java
  lib/android/app/src/main/java/com/reactnativenavigation/utils/UiUtils.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/Presenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/TopBar.java
  lib/android/app/src/test/java/com/reactnativenavigation/BaseTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.kt
Labels: platform: Android, type: accepted/bug

#7230 Move remx to optional peer dependencies
  package.json
Labels: Infrastructure

#7216 PlatformColor Support
  lib/android/app/src/main/java/com/reactnativenavigation/options/params/ReactPlatformColor.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/params/ThemeColour.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/parsers/JSONParser.java
  lib/android/app/src/reactNative63/java/com/reactnativenavigation/options/parsers/ColorParser.java
  lib/android/app/src/reactNative63/java/com/reactnativenavigation/options/parsers/ColorParser.kt
  lib/android/app/src/test/java/com/reactnativenavigation/BaseTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/options/parsers/ColorParseTest.java
  lib/src/commands/OptionsProcessor.test.ts
  lib/src/commands/OptionsProcessor.ts
  lib/src/interfaces/Options.ts
  playground/android/app/src/main/res/values-night/colors.xml
  playground/android/app/src/main/res/values-notnight/colors.xml
  playground/android/app/src/main/res/values/colors.xml
  playground/android/app/src/main/res/values/styles.xml
  playground/ios/playground/Images.xcassets/rnnTextColor.colorset/Contents.json
  playground/ios/playground/LaunchScreen.storyboard
  playground/src/commons/Colors.ts
Labels: platform: iOS, platform: Android, type: accepted/enhancement

#7224 Update api-events.mdx
  website/versioned_docs/version-7.16.0/api/api-events.mdx
Labels: platform: iOS, type: documentation

#7234 Avoid calling AppRegistry.registerComponent in mocked mode
  lib/src/Mock/mocks/AppRegistryService.ts
  lib/src/Navigation.ts
  lib/src/NavigationDelegate.ts
Labels: type: accepted/bug, Wix

#7231 Status bar updates causes ui freeze on some devices
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/Presenter.java
Labels: platform: Android, type: accepted/bug, Wix
