Repository wix/react-native-navigation, pull requests merged in 2021-02, with the labels that each got.

#6915 Support bottomTabs shadow and border style
  lib/android/app/src/main/java/com/reactnativenavigation/options/BottomTabsOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/ShadowOptions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsPresenter.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/bottomtabs/BottomTabsBehaviour.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/bottomtabs/BottomTabsContainer.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/bottomtabs/BottomTabsLayout.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/bottomtabs/ShadowLayout.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsPresenterTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/navigator/NavigatorTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/views/bottomtabs/BottomTabsContainerTest.kt
  lib/ios/BottomTabsAppearancePresenter.m
  lib/ios/BottomTabsBasePresenter.h
  lib/ios/BottomTabsBasePresenter.m
  lib/ios/RNNBottomTabsOptions.h
  lib/ios/RNNBottomTabsOptions.m
  lib/ios/RNNShadowOptions.h
  lib/ios/RNNShadowOptions.m
  lib/ios/RNNTabBarItemCreator.m
  lib/ios/RNNUIBarButtonItem.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  lib/ios/TopBarPresenter.m
  lib/ios/UIImage+tint.h
  lib/ios/UIImage+utils.h
  lib/ios/UIImage+utils.m
  lib/src/interfaces/Options.ts
  playground/ios/NavigationTests/RNNBottomTabsAppearancePresenterTest.m
  playground/src/screens/FirstBottomTabScreen.tsx
Labels: platform: Android, platform: iOS, type: accepted/enhancement

#6944 Enable UIViewControllerBasedStatusBarAppearance on rnn-link
  autolink/postlink/path.js
  autolink/postlink/plistLinker.js
  autolink/postlink/postLinkIOS.js
Labels: platform: iOS, type: accepted/enhancement

#6953 Fix CI build
  package-lock.json
Labels: Infrastructure

#6952 One particular typo fixed
  website/docs/docs/docs-before-you-start.mdx
  website/versioned_docs/version-6.12.2/docs/docs-before-you-start.mdx
  website/versioned_docs/version-7.7.0/docs/docs-before-you-start.mdx
  website/versioned_docs/version-7.8.1/docs/docs-before-you-start.mdx
Labels: type: documentation

#6949 Fix Android Toolbar RTL issues
  e2e/Buttons.test.js
  lib/android/app/src/main/java/com/reactnativenavigation/utils/Log.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/TopBarController.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/TopBar.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/ButtonToolbars.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/MainToolBar.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBarReactView.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBarReactView.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/TopBarControllerTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/views/MainToolbarTest.kt
  playground/src/screens/ButtonsScreen.tsx
  playground/src/screens/OptionsScreen.tsx
  playground/src/testIDs.ts
Labels: platform: Android, type: accepted/bug

#6954 Fix Icon bg color crash
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonPresenter.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/IconResolver.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/IconBackgroundDrawable.kt
  lib/android/app/src/test/java/com/reactnativenavigation/fakes/IconResolverFake.kt
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/ImageLoaderMock.kt
  lib/android/app/src/test/java/com/reactnativenavigation/utils/ButtonPresenterTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/TopBarButtonControllerTest.java
Labels: platform: Android, type: accepted/bug

#6958 Bottom tabs shadow default visibility
  lib/android/app/src/main/java/com/reactnativenavigation/views/bottomtabs/BottomTabsContainer.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/bottomtabs/ShadowLayout.kt
Labels: platform: Android, type: accepted/bug

#6962 docs: fix default `stiffness` value
  website/docs/docs/style-animations.mdx
Labels: type: documentation

#6948 Initial documentation for integration with react-native-vector-icons
  website/docs/docs/third-party-react-native-vector-icons.mdx
  website/docs/docs/third-party-react-native-vector-icons/ExampleComponent.tsx
  website/docs/docs/third-party-react-native-vector-icons/MyIcon.tsx
  website/docs/docs/third-party-react-native-vector-icons/NavIcons.tsx
  website/docs/docs/third-party-react-native-vector-icons/index.ts
Labels: type: documentation

#6963 Remove package-lock.json from .gitignore
  .gitignore
Labels: Infrastructure, skip-changelog

#6960 (docs) Update Basic Navigation docs
  website/versioned_docs/version-7.8.1/docs/docs-basic-navigation.mdx
Labels: skip-changelog, type: accepted/enhancement, type: documentation

#6964 Fix SET default fade animation
  lib/android/app/src/main/java/com/reactnativenavigation/options/FadeInAnimation.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/FadeOutAnimation.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#6965 Export Interpolation and SystemItemIcon types
  lib/src/interfaces/Options.ts
Labels: type: accepted/enhancement

#6969 Fix wrong option resolving on iOS
  lib/ios/RNNButtonOptions.h
  lib/ios/RNNButtonOptions.m
  lib/ios/RNNButtonsPresenter.h
  lib/ios/RNNButtonsPresenter.m
  lib/ios/RNNComponentPresenter.m
  lib/ios/RNNComponentViewController.m
  lib/ios/RNNTopBarOptions.h
  lib/ios/RNNTopBarOptions.m
  playground/ios/NavigationIOS12Tests/RNNRootViewControllerTest.m
  playground/ios/NavigationTests/RNNButtonsPresenterTest.m
  playground/ios/NavigationTests/RNNNavigationOptionsTest.m
  playground/ios/NavigationTests/RNNRootViewControllerTest.m
  playground/ios/NavigationTests/RNNStackControllerTest.m
Labels: Wix, platform: iOS, type: accepted/bug

#6972 Fix Crash topBar merge empty buttons with color
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.kt
Labels: feature: TopBar Buttons, platform: Android, type: accepted/bug

#6939 Support for handling default back button in JS
  e2e/BackButton.test.js
  e2e/Modals.test.js
  e2e/StaticLifecycleEvents.test.js
  lib/android/app/src/main/java/com/reactnativenavigation/options/BackButton.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/ButtonOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/HardwareBackButtonOptions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/Options.java
  lib/android/app/src/main/java/com/reactnativenavigation/react/Constants.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalStack.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonController.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonPresenter.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/IconResolver.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/component/ComponentLayout.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/toptabs/TopTabsViewPager.java
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/TestComponentLayout.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/button/NavigationIconResolverTest.java
  lib/ios/RNNBackButtonOptions.h
  lib/ios/RNNBackButtonOptions.m
  lib/ios/RNNStackController.h
  lib/ios/RNNStackController.m
  lib/ios/RNNStackPresenter.h
  lib/ios/RNNStackPresenter.m
  lib/src/interfaces/Options.ts
  playground/src/screens/BackButtonScreen.tsx
  playground/src/screens/ModalScreen.tsx
  playground/src/screens/NavigationScreen.tsx
  playground/src/screens/Screens.ts
  playground/src/screens/StackScreen.tsx
  playground/src/screens/index.tsx
  playground/src/testIDs.ts
  website/docs/api/options-backButton.mdx
  website/docs/api/options-hardwareBackButton.mdx
  website/docs/docs/docs-modal.mdx
  website/docs/docs/docs-stack.mdx
  website/sidebars.js
Labels: platform: Android, platform: iOS, type: accepted/enhancement

#6971 Fix button icon background
  lib/ios/RNNButtonBuilder.m
  lib/ios/RNNButtonOptions.h
  lib/ios/RNNButtonOptions.m
  lib/ios/RNNIconBackgroundOptions.m
  lib/ios/RNNIconCreator.h
  lib/ios/RNNIconCreator.m
  lib/ios/RNNIconDrawer.h
  lib/ios/RNNIconDrawer.m
  lib/ios/RNNUIBarButtonItem.h
  lib/ios/RNNUIBarButtonItem.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  lib/ios/UIImage+insets.h
  lib/ios/UIImage+insets.m
  lib/ios/UIImage+utils.h
  lib/ios/UIImage+utils.m
  playground/ios/NavigationTests/RNNUIBarButtonItemTest.m
Labels: Wix, platform: iOS, type: accepted/bug

#6968 Modal Enter and Exit animation
  lib/android/app/src/main/java/com/reactnativenavigation/options/AnimationsOptions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/ModalAnimationOptions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalPresenter.java
  lib/android/app/src/test/java/com/reactnativenavigation/BaseTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/options/ModalAnimationOptionsTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimatorMock.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimatorTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalPresenterTest.java
  lib/src/commands/Deprecations.ts
  lib/src/commands/OptionsProcessor.test.ts
  lib/src/commands/OptionsProcessor.ts
  lib/src/interfaces/Options.ts
  playground/src/commons/options/Animations.ts
  playground/src/screens/ModalScreen.tsx
  website/docs/docs/style-animations.mdx
Labels: feature: Animations, platform: Android, type: accepted/enhancement

#6977 Bump detox version to 18.6.2
  .gitignore
  package-lock.json
  package.json
  playground/img/clear@2x.png
  playground/img/layouts@2x.png
  playground/img/layouts_selected@2x.png
  playground/img/menu@2x.png
  playground/img/navicon_add@2x.png
  playground/img/navigation@2x.png
  playground/img/options@2x.png
  playground/img/options_selected@2x.png
  playground/img/plus@2x.png
  playground/img/star@2x.png
  playground/img/whatshot@2x.png
Labels: Infrastructure

#6986 add missing TopBar Height documentation
  website/docs/api/options-stack.mdx
Labels: type: accepted/enhancement, type: documentation

#6984 add missing Android RTL manifest attribute to docs
  website/versioned_docs/version-7.11.0/api/options-layout.mdx
Labels: platform: Android, type: accepted/enhancement, type: documentation

#6987 Remove react logbox from button and title components
  lib/ios/RNNComponentView.m
Labels: platform: iOS, type: accepted/bug

#6995 Fix back button doesn't pop on iOS 12
  lib/ios/RNNNavigationBarDelegateHandler.h
  lib/ios/RNNNavigationBarDelegateHandler.m
  lib/ios/RNNStackController.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
Labels: platform: iOS, type: accepted/bug
