Repository wix/react-native-navigation, pull requests merged in 2021-05, with the labels that each got.

#7112 Make react-native-navigation compile again (Android, reactNative < 63)
  lib/android/app/src/reactNative51/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative55/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative56/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative57/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative57_5/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative60/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative62/java/com/reactnativenavigation/react/ReactGateway.java
Labels: platform: Android, type: accepted/bug

#7113 Bump @react-native-community/datetimepicker version
  package.json
Labels: platform: iOS, type: accepted/bug

#7116 Fix incorrect bounds of FastImage in shared element transition
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/finder/ExistingViewFinder.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#7119 Fix fast image border animation
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/FastImageBorderRadiusAnimator+utilities.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/FastImageBorderRadiusAnimator.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#7120 Revert "Fix disabling modal animations on iOS"
  lib/ios/RNNAnimationsOptions.m
  lib/ios/ViewAnimationOptions.m
Labels: platform: iOS, type: accepted/bug

#7114 Fix animation callback crash after setStackRoot and push
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackController.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackControllerTest.kt
Labels: platform: Android, type: accepted/bug

#7124 Minor bug fix in orientation docs
  .gitignore
  website/docs/docs/style-orientation.mdx
  website/package-lock.json
Labels: type: documentation

#7122 Lock react-native-fast-image
  package.json
Labels: Infrastructure, skip-changelog

#7128 Fix broken shared element transition in RTL layouts + fix a flicker when transition started to/from a modal
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/TransitionAnimatorCreator.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimatorTest.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#7127 Add topBar button animations on iOS
  lib/android/app/src/main/java/com/reactnativenavigation/options/TopBarOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/TopBar.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/ButtonBar.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleAndButtonsContainer.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/views/TitleAndButtonsContainerTest.kt
  lib/ios/RNNButtonsPresenter.h
  lib/ios/RNNButtonsPresenter.m
  lib/ios/RNNComponentPresenter.m
  lib/ios/RNNTopBarOptions.h
  lib/ios/RNNTopBarOptions.m
  lib/src/interfaces/Options.ts
  playground/ios/NavigationTests/RNNButtonsPresenterTest.m
  playground/ios/NavigationTests/RNNComponentPresenterTest.m
  website/docs/api/options-stack.mdx
Labels: platform: Android, platform: iOS, type: accepted/enhancement

#7130 Fix modal animations
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNModalManager.m
  lib/ios/RNNScreenTransitionsCreator.m
  lib/ios/TransitionOptions.m
  lib/ios/ViewAnimationOptions.h
  lib/ios/ViewAnimationOptions.m
  playground/ios/NavigationTests/RNNCommandsHandlerTest.m
Labels: platform: iOS, type: accepted/bug

#7131 Rename folly spec dependency
  ReactNativeNavigation.podspec
Labels: platform: iOS, type: accepted/bug

#7132 feat: Bootstrap with user-created Bridge, add support for Fabric
  autolink/postlink/appDelegateLinker.js
  lib/ios/RNNBridgeManager.h
  lib/ios/RNNBridgeManager.mm
  lib/ios/ReactNativeNavigation.h
  lib/ios/ReactNativeNavigation.m
  playground/ios/playground/AppDelegate.m
Labels: platform: iOS, type: accepted/enhancement

#7133 Add buttons documentation to docusaurus menu
  website/sidebars.js
  website/versioned_sidebars/version-7.11.2-sidebars.json
  website/versioned_sidebars/version-7.15.0-sidebars.json
Labels: type: documentation

#7139 Align statusBar.style behavior with iOS
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/Presenter.java
Labels: platform: Android, type: accepted/enhancement
