Repository wix/react-native-navigation, pull requests merged in 2021-06, with the labels that each got.

#7141 downgrade kotlin
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleAndButtonsMeasurer.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBarReactView.kt
  playground/android/build.gradle
Labels: platform: Android, type: accepted/bug

#7144 Fix Kotlin 1.3 & 1.4 compatibility
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBarReactView.kt
Labels: platform: Android, type: accepted/bug

#7087 Fix dismiss modal not hiding properly with searchBar on iOS
  e2e/BackButton.test.js
  e2e/Modals.test.js
  e2e/SearchBar.test.js
  lib/ios/RNNModalManager.m
  package.json
  playground/src/commons/Processors.ts
  playground/src/screens/OptionsScreen.tsx
  playground/src/screens/PushedScreen.tsx
  playground/src/screens/Screens.ts
  playground/src/screens/SearchBarModal.tsx
  playground/src/screens/index.tsx
  playground/src/testIDs.ts
Labels: platform: iOS, type: accepted/bug

#7151 Add synchronous constants call
  lib/android/app/src/main/java/com/reactnativenavigation/react/NavigationModule.java
  lib/ios/RNNBridgeModule.m
  lib/src/Navigation.ts
  lib/src/adapters/Constants.ts
Labels: type: accepted/enhancement

#7155 fix popTo so promise get resolved
  lib/ios/RNNCommandsHandler.m
Labels: platform: iOS, type: accepted/enhancement

#7156 Support react-native modals
  e2e/Modals.test.js
  lib/ios/RNNBridgeManager.mm
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNEnterExitAnimation.m
  lib/ios/RNNEventEmitter.m
  lib/ios/RNNModalManager.h
  lib/ios/RNNModalManager.m
  lib/ios/TransitionOptions.h
  lib/ios/TransitionOptions.m
  package.json
  playground/ios/NavigationTests/RNNCommandsHandlerTest.m
  playground/ios/NavigationTests/RNNModalManagerTest.m
  playground/src/screens/ModalScreen.tsx
  playground/src/testIDs.ts
Labels: platform: iOS, type: accepted/enhancement

#7157 Upload detox artifacts
  .gitignore
  package.json
  scripts/upload_artifacts.sh
Labels: Infrastructure

#7159 Run detox tests on Pixel_API_28
  package.json
  playground/src/screens/ModalScreen.tsx
Labels: Infrastructure

#7161 Remove JCenter
  playground/android/build.gradle
  playground/android/libs/blurview-1.6.3.jar
  playground/android/libs/fbjni-java-only-0.0.3.jar
  playground/android/libs/proguard-annotations-1.14.1.jar
Labels: Infrastructure

#7163 [docs] showcases info updated
  website/versioned_docs/version-7.16.0/docs/docs-showcases.mdx
Labels: type: documentation

#7166 Log dismissModal rejection with componentId
  lib/ios/RNNCommandsHandler.m
Labels: platform: iOS, type: accepted/enhancement
