Repository wix/react-native-navigation, pull requests merged in 2021-11, with the labels that each got.

#7340 Remove manually dismissing all modals on setRoot
  lib/ios/RNNAssert.h
  lib/ios/RNNBottomTabOptions.m
  lib/ios/RNNButtonBuilder.m
  lib/ios/RNNButtonOptions.m
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNDotIndicatorPresenter.m
  lib/ios/RNNModalManager.h
  lib/ios/RNNModalManager.m
  lib/ios/RNNSegmentedControl.h
  lib/ios/RNNTabBarItemCreator.m
  lib/ios/RNNUIBarButtonItem.h
  lib/ios/RNNUIBarButtonItem.m
  lib/ios/TopBarPresenter.m
Labels: platform: iOS, type: accepted/bug

#7342 Android context crash when parsing options
  lib/android/app/src/main/java/com/reactnativenavigation/options/LayoutFactory.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/Options.java
  lib/android/app/src/test/java/com/reactnativenavigation/utils/LayoutFactoryTest.java
Labels: platform: Android, type: accepted/bug, Wix

#7305 React Native 66
  babel.config.js
  e2e/config.json
  e2e/init.js
  jest.config.js
  lib/android/app/build.gradle
  lib/android/app/src/main/java/com/reactnativenavigation/react/modal/ModalFrameLayout.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/StatusBarUtils.java
  lib/android/app/src/main/java/com/reactnativenavigation/utils/StatusBarUtils.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/component/ComponentViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackController.java
  lib/android/app/src/reactNative51/java/com/reactnativenavigation/react/NavigationReactNativeHost.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalPresenterTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalStackTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/navigator/NavigatorTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackControllerTest.kt
  lib/ios/RNNModalManager.m
  package.json
  playground/android/app/build.gradle
  playground/android/app/src/main/java/com/reactnativenavigation/playground/MainApplication.java
  playground/android/build.gradle
  playground/src/screens/ModalScreen.tsx
  scripts/test-js.js
Labels: type: accepted/enhancement

#7333 Fix default font handling on android
  lib/android/app/src/main/java/com/reactnativenavigation/options/FontOptions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/parsers/TypefaceLoader.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonSpan.kt
Labels: platform: Android, type: accepted/bug

#7345 Fix Android unit tests
  e2e/Keyboard.test.js
  lib/android/app/src/main/java/com/reactnativenavigation/options/parsers/TypefaceLoader.kt
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/TypefaceLoaderMock.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/TopBarControllerTest.kt
  scripts/documentation.test.js
  scripts/test-unit.js
Labels: platform: Android, type: accepted/bug

#7347 Docs : Fix missing curly bracket leftButtons
  website/versioned_docs/version-7.16.0/api/options-imageResource.mdx
Labels: type: documentation, type: accepted/bug

#7351 Lock ua-parser-js version
  website/package.json
Labels: Infrastructure

#7354 destroyAllOverlays crash [Android]
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/overlay/OverlayManager.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/overlay/OverlayManagerTest.java
Labels: platform: Android, type: accepted/bug

#7364 Add enable/disable option to side menu
  playground/src/screens/SideMenuCenterScreen.tsx
  playground/src/testIDs.ts
Labels: type: accepted/enhancement, feature: SideMenu

#7356 Timeout
  .buildkite/pipeline.yml
Labels: Infrastructure

#7368 [Navigation Mock] Fix bottomTabPressed event
  e2e/BottomTabs.test.js
  lib/src/Mock/Components/ComponentScreen.tsx
  lib/src/Mock/Stores/EventsStore.ts
  lib/src/Mock/mocks/NativeEventsReceiver.ts
  playground/src/screens/FirstBottomTabScreen.tsx
  playground/src/screens/LayoutsScreen.tsx
Labels: type: accepted/bug, Navigation mock

#7369 Fix dismissing modals with sideMenu
  e2e/Modals.test.js
  lib/ios/RNNModalManager.m
  playground/src/screens/ModalCommandsScreen.tsx
  playground/src/screens/ModalScreen.tsx
  playground/src/testIDs.ts
Labels: platform: iOS, type: accepted/bug

#7371 Fix fast refresh crash
  lib/ios/RNNBridgeManager.mm
  lib/ios/RNNModalManager.h
  lib/ios/RNNModalManager.m
Labels: platform: iOS, type: accepted/bug

#7373 Update noBorder documentation
  website/docs/api/options-stack.mdx
Labels: type: documentation

#7372 Fix statusBar blur option in dark mode
  lib/ios/UIViewController+RNNOptions.m
Labels: platform: iOS, type: accepted/bug

#7370 Fix missing options processing
  lib/src/commands/Commands.test.ts
  lib/src/commands/Commands.ts
  lib/src/commands/LayoutTreeCrawler.ts
  lib/src/commands/OptionsProcessor.test.ts
  lib/src/commands/OptionsProcessor.ts
Labels: type: accepted/bug

#7375 Fix playground reanimated animations
  playground/src/screens/sharedElementCarDealer/CarCard.tsx
  playground/src/screens/sharedElementCarDealer/CarDetailsScreen.tsx
  playground/src/screens/sharedElementCarDealer/CarStoryScreen.tsx
  playground/src/screens/sharedElementCarDealer/useDismissGesture.ts
Labels: Infrastructure

#7379 Upgrade Android unit tests tools
  lib/android/app/build.gradle
  lib/android/app/src/test/java/com/reactnativenavigation/TestActivity.java
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/ImageLoaderMock.kt
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/Mocks.kt
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/TypefaceLoaderMock.kt
  lib/android/app/src/test/java/com/reactnativenavigation/options/TransitionAnimationOptionsTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/utils/MotionEventTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/utils/UiThreadTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/utils/UiUtilsTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsPresenterTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/component/ComponentViewControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/fakes/FakeParentController.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalAnimatorTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalPresenterTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/modal/ModalStackTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/navigator/RootPresenterTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackAnimatorTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackControllerTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/TopBarControllerTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/views/TitleAndButtonsContainerTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/views/animations/BaseViewAnimatorTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/views/bottomtabs/BottomTabsContainerTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/views/bottomtabs/BottomTabsTest.kt
  playground/android/gradle.properties
Labels: platform: Android, type: accepted/enhancement

#7343 Android API 30 fixes
  e2e/Modals.test.js
  lib/android/app/build.gradle
  lib/android/app/src/main/java/com/reactnativenavigation/react/NavigationModule.java
  lib/android/app/src/main/java/com/reactnativenavigation/react/modal/ModalFrameLayout.kt
  lib/android/app/src/main/java/com/reactnativenavigation/react/modal/ModalViewManager.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/StatusBarUtils.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/SystemUiUtils.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/child/ChildController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/component/ComponentViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/externalcomponent/ExternalComponentViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/Presenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/component/ComponentLayout.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/animators/ReactImageMatrixAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/TopBar.java
  lib/android/app/src/test/java/com/reactnativenavigation/BaseTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/presentation/PresenterTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/child/ChildControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/component/ComponentViewControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/parent/ParentControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/sidemenu/SideMenuControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackControllerTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/viewcontroller/ViewControllerTest.java
  package.json
  playground/android/app/build.gradle
  playground/android/app/src/main/AndroidManifest.xml
  playground/android/app/src/main/res/values/attrs.xml
  playground/src/commons/Colors.ts
  playground/src/commons/options/Options.ts
  playground/src/screens/ModalCommandsScreen.tsx
  playground/src/screens/OptionsScreen.tsx
  playground/src/screens/Screens.ts
  playground/src/screens/StatusBarOptionsScreen.tsx
  playground/src/screens/SystemUiOptions.tsx
  playground/src/screens/index.tsx
Labels: platform: Android, type: accepted/enhancement
