Repository wix/react-native-navigation, pull requests merged in 2021-09, with the labels that each got.

#7235 Component Lifecycle events fix onPause/onResume
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/modal/ModalStack.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/navigator/Navigator.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/overlay/OverlayManager.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/overlay/OverlayManager.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/navigator/NavigatorTest.java
Labels: platform: Android, type: accepted/bug

#7237 Changing StatusBar when unrelated mergeOptions Fix
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
Labels: platform: Android, type: accepted/bug

#7238 Change bottom tabs height constant value to the dimen-based one
  lib/android/app/src/main/java/com/reactnativenavigation/react/Constants.java
  lib/android/app/src/main/java/com/reactnativenavigation/react/NavigationModule.java
  lib/android/app/src/main/java/com/reactnativenavigation/utils/UiUtils.java
Labels: platform: Android, type: accepted/enhancement

#7239 Pop to root when tapping on active bottom tab on Android
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsController.java
Labels: platform: Android, type: accepted/enhancement

#7241 Fix remx optional dependency
  Mock.ts
  jest-setup.js
  lib/src/Mock/index.ts
  lib/src/NavigationDelegate.ts
  lib/src/index.ts
  package.json
Labels: Infrastructure, type: accepted/bug

#7244 Add popToRoot option to bottomTab on Android
  lib/android/app/src/main/java/com/reactnativenavigation/options/BottomTabOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsController.java
  lib/src/interfaces/Options.ts
  website/docs/api/options-bottomTab.mdx
Labels: platform: Android, type: accepted/enhancement

#7248 Support DynamicColorIOS
  lib/src/commands/OptionsProcessor.test.ts
  lib/src/commands/OptionsProcessor.ts
Labels: platform: iOS, type: accepted/bug

#7245 docs: updated community libraries.
  website/docs/docs/community-libraries.mdx
  website/versioned_docs/version-7.16.0/docs/community-libraries.mdx
Labels: type: documentation

#7250 Fix color processing on iOS
  lib/src/commands/OptionsProcessor.test.ts
  lib/src/commands/OptionsProcessor.ts
Labels: platform: iOS, type: accepted/bug

#7249 Fix [RNNEnterExitAnimation elementTransitions] crash
  lib/ios/RNNAnimationsOptions.h
  lib/ios/RNNComponentPresenter.m
  lib/ios/RNNEnterExitAnimation.h
  lib/ios/RNNEnterExitAnimation.m
  lib/ios/RNNModalManager.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  lib/ios/ViewAnimationOptions.h
  lib/ios/ViewAnimationOptions.m
Labels: platform: iOS, type: accepted/bug, Wix

#7257 Apply back button icon changes to scroll edge appearance
  lib/ios/TopBarAppearancePresenter.m
Labels: platform: iOS, type: accepted/bug

#7253 Fix left and right top bar buttons with component crash on Android
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBarReactButtonView.java
Labels: platform: Android, type: accepted/bug, Wix

#7275 Fix sideMenu docs
  website/docs/docs/docs-sideMenu.mdx
Labels: type: documentation

#7276 Remove default splash layout color on Android
  lib/android/app/src/main/java/com/reactnativenavigation/NavigationActivity.java
Labels: platform: Android, type: accepted/enhancement

#7270 Fix iOS 15 bars appearance
  lib/ios/BottomTabAppearancePresenter.h
  lib/ios/BottomTabAppearancePresenter.m
  lib/ios/BottomTabPresenter.h
  lib/ios/BottomTabPresenter.m
  lib/ios/BottomTabPresenterCreator.m
  lib/ios/BottomTabsAppearancePresenter.m
  lib/ios/RNNBottomTabsController.m
  lib/ios/RNNTabBarItemCreator.h
  lib/ios/RNNTabBarItemCreator.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  lib/ios/TabBarItemAppearanceCreator.m
  lib/ios/TabBarItemIOS15Creator.h
  lib/ios/TabBarItemIOS15Creator.m
  lib/ios/UIViewController+RNNOptions.m
  playground/ios/NavigationTests/BottomTabPresenterTest.m
Labels: platform: iOS, type: accepted/bug

#7277 Add callback as optional parameter to updateProps
  lib/src/Navigation.ts
  lib/src/NavigationDelegate.ts
  lib/src/commands/Commands.test.ts
  lib/src/commands/Commands.ts
  lib/src/components/ComponentWrapper.test.tsx
  lib/src/components/ComponentWrapper.tsx
  lib/src/components/Store.test.ts
  lib/src/components/Store.ts
  website/docs/api/api-component.mdx
Labels: platform: iOS, platform: Android, type: accepted/enhancement
