Repository wix/react-native-navigation, pull requests merged in 2021-01, with the labels that each got.

#6876 Fix resolving dismissAllModals when there are no presented modals
  lib/ios/RNNCommandsHandler.m
  lib/ios/RNNModalManager.m
  playground/ios/NavigationTests/RNNModalManagerTest.m
Labels: platform: iOS, type: accepted/bug

#6879 Fix iOS build on older Xcode versions
  lib/ios/RNNUIBarBackButtonItem.m
Labels: platform: iOS, type: accepted/bug

#6881 Fix buttons tint color on iOS 12
  lib/ios/RNNUIBarButtonItem.m
  playground/ios/NavigationTests/RNNUIBarButtonItemTest.m
Labels: platform: iOS, type: accepted/bug

#6878 Bump detox version to 18.0.0
  package.json
Labels: Infrastructure

#6886 Resolve component static options before calling layout processors
  lib/src/Navigation.ts
  lib/src/commands/Commands.test.ts
  lib/src/commands/Commands.ts
  lib/src/commands/LayoutTreeCrawler.test.ts
  lib/src/commands/LayoutTreeCrawler.ts
  lib/src/commands/OptionsCrawler.test.ts
  lib/src/commands/OptionsCrawler.ts
  lib/src/interfaces/Layout.ts
Labels: type: accepted/bug

#6882 Fix merging rightButtonColor and leftButtonColor
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonController.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonPresenter.kt
  lib/android/app/src/test/java/com/reactnativenavigation/utils/ButtonPresenterTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.java
  lib/ios/RNNButtonsPresenter.h
  lib/ios/RNNButtonsPresenter.m
  lib/ios/RNNComponentPresenter.m
  lib/ios/RNNUIBarButtonItem.h
  lib/ios/RNNUIBarButtonItem.m
  lib/ios/UIImage+tint.m
  playground/ios/NavigationTests/RNNButtonsPresenterTest.m
Labels: platform: Android, platform: iOS, type: accepted/bug

#6888 Fix removing old documentation version from Jenkins
  scripts/documentation.js
Labels: Infrastructure

#6890 Change applying options order for scrollEdgeAppearance border properties
  lib/ios/TopBarAppearancePresenter.m
Labels: platform: iOS, type: accepted/bug

#6895 Add minimal iOS scrollEdgeAppearance supported version, minor formatting fixes
  website/docs/api/options-scrollEdgeAppearance.mdx
  website/docs/api/options-stack.mdx
  website/versioned_docs/version-7.7.0/api/options-scrollEdgeAppearance.mdx
  website/versioned_docs/version-7.7.0/api/options-stack.mdx
  website/versioned_docs/version-7.8.1/api/options-scrollEdgeAppearance.mdx
  website/versioned_docs/version-7.8.1/api/options-stack.mdx
Labels: type: documentation

#6897 Clear back button on merging leftButtons
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/TopBarController.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/TopBar.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/LeftButtonsBar.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/TopBarControllerTest.kt
Labels: platform: Android, type: accepted/bug

#6891 Lifecycle initial bottom tab did appear fix
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsPresenter.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/bottomtabs/BottomTabs.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsControllerTest.java
Labels: platform: Android, type: accepted/bug

#6899 Component title bar alignment fix
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBar.java
  lib/android/app/src/test/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBarTest.java
  playground/src/screens/CustomTopBar.tsx
  playground/src/screens/OptionsScreen.tsx
Labels: platform: Android, type: accepted/bug

#6900 Export ProcessorSubscription
  lib/src/index.ts
Labels: type: accepted/bug

#6903 add missing default margin in component title bar
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBar.java
  lib/android/app/src/test/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBarTest.java
Labels: type: accepted/bug

#6908 Fix flaky e2e tests in CI
  lib/android/build.gradle
  lib/android/gradle.properties
  lib/android/gradle/wrapper/gradle-wrapper.properties
Labels: Infrastructure, skip-changelog

#6910 Fix icon color being applied to all instances of the same icon in release mode
  lib/android/app/src/main/java/com/reactnativenavigation/utils/ImageLoader.kt
Labels: platform: Android, type: accepted/bug

#6914 Update options-stack.mdx
  website/versioned_docs/version-7.8.1/api/options-stack.mdx
Labels: type: documentation

#6917 Fix SET when pushing a screen from bottom tabs
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabPresenter.java
Labels: platform: Android, type: accepted/bug

#6919 Fix undefined passProps.componentId in static options
  lib/src/Navigation.ts
  lib/src/commands/Commands.test.ts
  lib/src/commands/OptionsCrawler.test.ts
  lib/src/commands/OptionsCrawler.ts
Labels: type: accepted/bug

#6920 Pass component props to option processors
  lib/src/Navigation.ts
  lib/src/commands/OptionsCrawler.ts
  lib/src/commands/OptionsProcessor.test.ts
  lib/src/commands/OptionsProcessor.ts
  lib/src/interfaces/Processors.ts
  website/docs/docs/style-theme/option-processor.tsx
Labels: type: accepted/enhancement

#6927 Fix systemItem buttons
  lib/ios/RNNButtonOptions.m
Labels: platform: iOS, type: accepted/bug

#6928 Add missing props type in OptionsProcessor
  lib/src/Navigation.ts
  lib/src/interfaces/Processors.ts
Labels: type: accepted/enhancement

#6930 Fix a leak in shared element animation
  lib/ios/TransitionDelegate.m
Labels: platform: iOS, type: accepted/bug

#6937 Check view.drawable for null before reading width/height
  lib/android/app/src/main/java/com/reactnativenavigation/views/element/finder/ExistingViewFinder.kt
Labels: feature: Shared Element Transition, platform: Android, type: accepted/bug

#6918 Title bar placement, margins, RTL fix
  e2e/Buttons.test.js
  lib/android/app/build.gradle
  lib/android/app/src/main/java/com/reactnativenavigation/options/ComponentOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/TitleOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/utils/ImageLoader.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/Log.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/View.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/ViewExtensions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/TopBarController.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonController.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/LayoutDirectionApplier.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/LayoutDirectionApplier.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/TopBar.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/ButtonToolbars.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/LeftButtonsBar.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/MainToolBar.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBar.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBarReactView.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleSubTitleLayout.kt
  lib/android/app/src/test/java/com/reactnativenavigation/utils/ButtonPresenterTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackControllerTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/TitleBarButtonControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/TopBarButtonControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/TopBarControllerTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/views/MainToolbarTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBarTest.java
  playground/android/app/src/main/java/com/reactnativenavigation/playground/MainActivity.java
  playground/src/commons/options/Options.ts
  playground/src/screens/ButtonsScreen.tsx
  playground/src/screens/CustomTopBar.tsx
  playground/src/screens/OptionsScreen.tsx
  playground/src/testIDs.ts
Labels: platform: Android, type: accepted/bug

#6941 Add bottomTab.accessibilityLabel
  lib/ios/RNNBottomTabOptions.h
  lib/ios/RNNBottomTabOptions.m
  lib/ios/RNNTabBarItemCreator.m
  lib/src/interfaces/Options.ts
  website/docs/api/options-bottomTab.mdx
Labels: platform: iOS, type: accepted/enhancement
