Repository wix/react-native-navigation, pull requests merged in 2022-12, with the labels that each got.

#7650 Pass component props to option processors
  lib/src/commands/Commands.test.ts
  lib/src/commands/Commands.ts
Labels: type: accepted/enhancement

#7653 Revert "Revert "Added support for the predictive back gesture on Android
  lib/android/app/build.gradle
  lib/android/app/src/main/AndroidManifest.xml
  lib/android/app/src/main/java/com/reactnativenavigation/NavigationActivity.java
  lib/android/app/src/test/java/com/reactnativenavigation/TestActivity.java
  playground/android/build.gradle
Labels: platform: Android, type: accepted/bug

#7654 Fix flaky tests on iOS
  playground/ios/NavigationTests/RNNModalManagerTest.m
Labels: platform: iOS, Infrastructure

#7651 Support constants in Navigation mocks
  lib/Mock/mocks/NativeCommandsSender.tsx
  lib/src/Navigation.ts
  lib/src/adapters/Constants.ts
  lib/src/adapters/NativeCommandsSender.ts
  lib/src/commands/Commands.ts
  lib/src/commands/OptionsCrawler.ts
  lib/src/processors/LayoutProcessor.ts
Labels: type: accepted/enhancement

#7657 Fix runOnMainThread to postAtFrontOfQueue when already on the main thread
  lib/android/app/src/main/java/com/reactnativenavigation/utils/UiUtils.java
Labels: platform: Android, type: accepted/bug

#7655 Fix SharedElementAnimator missing some animations
  lib/ios/SharedElementAnimator.m
Labels: platform: iOS, type: accepted/bug

#7658 Fix Windows gradle build
  lib/android/app/build.gradle
Labels: platform: Android, Infrastructure
