Repository wix/react-native-navigation, pull requests merged in 2022-07, with the labels that each got.

#7552 Fix dark mode buttons support on iOS
  lib/ios/RNNBaseIconCreator.h
  lib/ios/RNNBaseIconCreator.m
  lib/ios/RNNButtonBuilder.m
  lib/ios/RNNDynamicIconCreator.h
  lib/ios/RNNDynamicIconCreator.m
  lib/ios/RNNIconCreator.h
  lib/ios/RNNIconCreator.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
Labels: platform: iOS, type: accepted/bug

#7562 [NavigationMock] throw informative error on missing component
  lib/Mock/Components/NavigationButton.tsx
Labels: type: accepted/enhancement, triage: bug

#7567 Fix button background dark mode colors
  lib/ios/RNNDynamicIconCreator.m
Labels: platform: iOS, type: accepted/bug

#7572 [Mock] Fix bottomTabs lifecycle events
  e2e/BottomTabs.test.js
  e2e/StaticLifecycleEvents.test.js
  lib/Mock/Components/ComponentScreen.tsx
  lib/Mock/Layouts/BottomTabsNode.ts
  lib/Mock/actions/layoutActions.ts
  playground/src/screens/SecondBottomTabScreen.tsx
  playground/src/screens/StaticLifecycleOverlay.tsx
Labels: type: accepted/bug
