Repository wix/react-native-navigation, pull requests merged in 2022-01, with the labels that each got.

#7417 Archive artifacts
  .buildkite/pipeline.yml
Labels: Infrastructure

#7416 Add layout.insets option
  e2e/AndroidUtils.js
  e2e/Overlay.test.js
  e2e/Utils.js
  e2e/assets/overlay_banner_padding.png
  e2e/iOSUtils.js
  lib/android/app/src/main/java/com/reactnativenavigation/options/LayoutOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/Options.java
  lib/android/app/src/main/java/com/reactnativenavigation/options/layout/LayoutInsets.kt
  lib/android/app/src/main/java/com/reactnativenavigation/options/layout/LayoutOptions.kt
  lib/android/app/src/main/java/com/reactnativenavigation/utils/PrimitiveExt.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/component/ComponentViewController.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/navigator/Navigator.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/Presenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/ViewController.java
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/Mocks.kt
  lib/android/app/src/test/java/com/reactnativenavigation/presentation/PresenterTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsControllerTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/sidemenu/SideMenuControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/viewcontroller/ViewControllerTest.java
  lib/ios/RNNBasePresenter.m
  lib/ios/RNNBottomTabsController.m
  lib/ios/RNNComponentViewController.m
  lib/ios/RNNLayoutOptions.h
  lib/ios/RNNLayoutOptions.m
  lib/ios/RNNStackPresenter.m
  lib/src/interfaces/Options.ts
  package.json
  playground/src/components/Root.tsx
  playground/src/screens/OverlayBanner.tsx
  playground/src/screens/OverlayScreen.tsx
  playground/src/screens/Screens.ts
  playground/src/screens/index.tsx
  playground/src/testIDs.ts
Labels: platform: iOS, platform: Android, type: accepted/enhancement

#7423 Fix RCTModalHostViewController crash while presenting react-native modals
  lib/ios/RNNBridgeManager.mm
  lib/ios/RNNModalHostViewManagerHandler.h
  lib/ios/RNNModalHostViewManagerHandler.m
  lib/ios/RNNModalManager.h
  lib/ios/RNNModalManager.m
  lib/ios/ReactNativeNavigation.xcodeproj/project.pbxproj
  playground/ios/NavigationTests/RNNModalHostViewManagerHandlerTest.m
  playground/ios/NavigationTests/RNNModalManagerTest.m
  playground/ios/playground.xcodeproj/project.pbxproj
Labels: platform: iOS, type: accepted/bug
