Repository wix/react-native-navigation, pull requests merged in 2022-11, with the labels that each got.

#7625 Support merging icon background color
  lib/android/app/src/main/java/com/reactnativenavigation/options/TopBarOptions.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenter.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonController.kt
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonPresenter.kt
  lib/android/app/src/test/java/com/reactnativenavigation/utils/ButtonPresenterTest.java
  lib/ios/RNNButtonOptions.h
  lib/ios/RNNButtonOptions.m
  lib/ios/RNNButtonsPresenter.h
  lib/ios/RNNButtonsPresenter.m
  lib/ios/RNNComponentPresenter.m
  lib/ios/RNNIconDrawer.m
  lib/ios/RNNTitleViewHelper.h
  lib/ios/RNNTitleViewHelper.m
  lib/ios/RNNTopBarOptions.h
  lib/ios/RNNTopBarOptions.m
  lib/ios/RNNUIBarButtonItem.h
  lib/ios/RNNUIBarButtonItem.m
  lib/ios/TopBarTitlePresenter.m
  lib/src/interfaces/Options.ts
  playground/ios/NavigationTests/RNNButtonsPresenterTest.m
Labels: platform: iOS, type: accepted/enhancement

#7626 Revert "Added support for the predictive back gesture on Android (#75…
  lib/android/app/build.gradle
  lib/android/app/src/main/AndroidManifest.xml
  lib/android/app/src/main/java/com/reactnativenavigation/NavigationActivity.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonPresenter.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/animations/BaseViewAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/IconBackgroundDrawable.kt
  lib/android/app/src/test/java/com/reactnativenavigation/TestActivity.java
  playground/android/build.gradle
Labels: platform: Android, type: accepted/bug

#7558 Library has compilation issues with Android 13 #7545
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonPresenter.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/animations/BaseViewAnimator.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/IconBackgroundDrawable.kt
  package.json
Labels: platform: Android, type: accepted/bug

#7636 Downgrade library java version
  lib/android/app/build.gradle
  playground/android/app/build.gradle
Labels: platform: Android, type: accepted/bug

#7600 Fix OptionsStatusBar typings
  lib/src/interfaces/Options.ts
Labels: Infrastructure

#7638 Mbm migration
  .buildkite/pipeline.yml
  e2e/ApplicationLifecycleTest.test.js
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_opaque_background_push@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_tansparent_background_push@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_title_change_pop@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_title_change_push@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_title_font_pop@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_title_font_push@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_translucent_background_pop@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_translucent_background_push@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_translucent_background_root@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_visibility_push@2x.png
  scripts/test-snapshot.js
Labels: Infrastructure

#7644 Avoid returning modal that is being dismissed as the top presented viewController
  lib/ios/RNNModalManager.m
  playground/ios/NavigationTests/RNNModalManagerTest.m
Labels: platform: iOS, type: accepted/bug

#7646 Fix crash on application reload
  lib/ios/RNNComponentView.m
Labels: platform: iOS, type: accepted/bug
