Repository wix/react-native-navigation, pull requests merged in 2022-05, with the labels that each got.

#7518 Support linking RN 68 projects
  autolink/postlink/activityLinker.js
Labels: Infrastructure, type: accepted/bug

#7519 Fix elevation not visible on bottomTabs
  e2e/assets/overlay_banner_padding.png
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsPresenter.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/bottomtabs/BottomTabsContainer.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/bottomtabs/BottomTabsPresenterTest.kt
  playground/src/commons/options/Options.ts
Labels: platform: Android, type: accepted/bug

#7521 Fix Navigation bottomTabs and topBar height constants
  lib/ios/UINavigationController+RNNOptions.m
  lib/ios/UIViewController+LayoutProtocol.m
  playground/ios/NavigationTests/UIViewController+LayoutProtocolTest.m
Labels: platform: iOS, type: accepted/bug
