Repository wix/react-native-navigation, pull requests merged in 2022-02, with the labels that each got.

#7438 Fix font not applied to topbar btn
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonPresenter.kt
Labels: platform: Android, type: accepted/bug

#7441 Fix keyboard bottom insets removing bottom tabs margin
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/component/ComponentViewController.java
  playground/src/screens/KeyboardScreen.tsx
Labels: platform: Android, type: accepted/bug

#7447 Android Buttons not updated
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/TopBarController.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/TopBarControllerTest.kt
Labels: platform: Android, type: accepted/bug

#7450 Fix badgeColor typing
  lib/src/interfaces/Options.ts
Labels: type: accepted/bug

#7453 Android < 30 Keyboard insets adjustNothing & adjustPan Fix
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/component/ComponentViewController.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/sidemenu/SideMenuControllerTest.java
Labels: platform: Android, type: accepted/bug

#7459 Make onHostPause and onHostResume running on main thread (#7419)
  lib/android/app/src/main/java/com/reactnativenavigation/react/NavigationModule.java
Labels: platform: Android, type: accepted/bug

#7458 Revert "Remove unneeded RCTUIManager setAvailableSize call (#7412)"
  lib/ios/RNNComponentRootView.m
Labels: platform: iOS, type: accepted/bug

#7465 Pass disabled prop to navigation mocked button
  lib/Mock/Components/NavigationButton.tsx
Labels: type: accepted/bug

#7467 fix navigationButtonPress link
  website/docs/docs/docs-customBackNavigation.mdx
Labels: type: documentation

#7464 Fix Build Error After Upgrading To Android Gradle Plugin 7.1.1
  lib/android/app/build.gradle
Labels: Infrastructure, type: accepted/bug

#7468 [Mocks] Reject promise on dismissing unknown modal
  lib/Mock/mocks/NativeCommandsSender.tsx
Labels: type: accepted/bug

#7472 Support rn68 on android (old architecture)
  lib/android/app/build.gradle
  lib/android/app/src/reactNative51/java/com/reactnativenavigation/react/modal/ModalContentLayout.kt
  lib/android/app/src/reactNative55/java/com/reactnativenavigation/react/modal/ModalContentLayout.kt
  lib/android/app/src/reactNative56/java/com/reactnativenavigation/react/modal/ModalContentLayout.kt
  lib/android/app/src/reactNative57/java/com/reactnativenavigation/react/modal/ModalContentLayout.kt
  lib/android/app/src/reactNative57_5/java/com/reactnativenavigation/react/modal/ModalContentLayout.kt
  lib/android/app/src/reactNative60/java/com/reactnativenavigation/react/modal/ModalContentLayout.kt
  lib/android/app/src/reactNative62/java/com/reactnativenavigation/react/modal/ModalContentLayout.kt
  lib/android/app/src/reactNative63/java/com/reactnativenavigation/react/modal/ModalContentLayout.kt
  lib/android/app/src/reactNative68/java/com/reactnativenavigation/options/parsers/ColorParser.kt
  lib/android/app/src/reactNative68/java/com/reactnativenavigation/react/DevBundleDownloadListenerAdapter.java
  lib/android/app/src/reactNative68/java/com/reactnativenavigation/react/JsDevReloadHandlerFacade.java
  lib/android/app/src/reactNative68/java/com/reactnativenavigation/react/NavigationReactNativeHost.java
  lib/android/app/src/reactNative68/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative68/java/com/reactnativenavigation/react/ReloadHandlerFacade.java
  lib/android/app/src/reactNative68/java/com/reactnativenavigation/react/modal/ModalContentLayout.kt
  lib/android/app/src/reactNative68/java/com/reactnativenavigation/viewcontrollers/viewcontroller/YellowBoxHelper.java
Labels: platform: Android, type: accepted/bug
