Repository wix/react-native-navigation, pull requests merged in 2023-05, with the labels that each got.

#7706 Remove unnecessary cast to ViewGroup
  lib/android/app/src/reactNative71/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBarReactView.kt
Labels: platform: Android, type: accepted/bug

#7710 Fix truncated bottom tab title on iPads
  lib/ios/BottomTabsTogetherAttacher.m
  lib/ios/RCTConvert+Interpolation.m
  lib/ios/RNNBaseIconCreator.h
  lib/ios/RNNBaseIconCreator.m
  lib/ios/RNNBottomTabsController.h
  lib/ios/RNNBottomTabsController.m
  lib/ios/RNNButtonBuilder.m
  lib/ios/RNNComponentPresenter.m
  lib/ios/RNNComponentRootView.m
  lib/ios/RNNDynamicIconCreator.h
  lib/ios/RNNDynamicIconCreator.m
  lib/ios/RNNFontAttributesCreator.m
  lib/ios/RNNIconCreator.h
  lib/ios/RNNIconCreator.m
  lib/ios/RNNLayoutManager.m
  lib/ios/RNNLayoutProtocol.h
  lib/ios/RNNTabBarItemCreator.m
  lib/ios/RNNUIBarButtonItem.m
  lib/ios/TopBarTitlePresenter.m
  playground/ios/NavigationTests/BottomTabPresenterTest.m
  playground/ios/NavigationTests/RNNSideMenuControllerTest.m
  playground/ios/NavigationTests/UIViewController+LayoutProtocolTest.m
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_title_change_pop@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_title_change_push@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_title_change_root@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_title_font_pop@2x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_title_font_root@2x.png
  playground/src/commons/Colors.ts
  scripts/test-snapshot.js
Labels: platform: iOS, type: accepted/bug

#7712 Fix undefined props after calling setRoot with the same componentId
  lib/src/commands/LayoutTreeCrawler.test.ts
  lib/src/commands/LayoutTreeCrawler.ts
  lib/src/components/Store.ts
Labels: type: accepted/bug

#7713 surface layout render errors
  lib/Mock/Components/LayoutComponent.tsx
Labels: type: accepted/bug, Navigation mock

#7718 Drop iOS 12 tests from CI script
  scripts/test-unit.js
Labels: Infrastructure

#7721 Fix replacing bottomTab.testID using mergeOptions
  e2e/Options.test.js
  lib/ios/RNNTabBarItemCreator.m
  playground/ios/NavigationTests/BottomTabPresenterTest.m
  playground/src/screens/OptionsScreen.tsx
  playground/src/testIDs.ts
Labels: platform: iOS, type: accepted/bug

#7717 Upgrade react-native to 0.71.8
  e2e/Modals.test.js
  e2e/Stack.test.js
  jest-setup.js
  jest.config.js
  lib/Mock/mocks/NativeCommandsSender.tsx
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/ViewController.java
  lib/android/app/src/reactNative71/java/com/reactnativenavigation/viewcontrollers/viewcontroller/YellowBoxDelegate.kt
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/viewcontroller/ViewControllerTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/viewcontroller/YellowBoxDelegateTest.java
  metro.config.js
  package.json
  playground/android/app/build.gradle
  playground/android/app/src/main/java/com/reactnativenavigation/playground/MainApplication.java
  playground/android/build.gradle
  playground/android/gradle.properties
  playground/android/gradle/wrapper/gradle-wrapper.properties
  playground/android/settings.gradle
  playground/ios/playground.xcodeproj/project.pbxproj
  playground/src/components/Button.tsx
  scripts/test-unit.js
Labels: Infrastructure
