Repository wix/react-native-navigation, pull requests merged in 2023-02, with the labels that each got.

#7675 Fix: Wrong options are set when onConfigurationChanged occurs
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/parent/ParentController.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/parent/ParentControllerTest.java
Labels: platform: Android, type: accepted/bug

#7681 [Mocks] Support command completed event
  lib/Mock/Stores/EventsStore.ts
  lib/Mock/mocks/NativeCommandsSender.tsx
  lib/Mock/mocks/NativeEventsReceiver.ts
Labels: type: accepted/enhancement, Navigation mock

#7684 [iOS] Fix: the bottomTab dotIndicator is sometimes displayed at a wrong tab button
  lib/ios/Utils/UITabBarController+RNNUtils.m
  playground/src/screens/FirstBottomTabScreen.tsx
  playground/src/screens/SecondBottomTabScreen.tsx
Labels: platform: iOS, type: accepted/bug

#7609 GitHub Workflows security hardening
  .github/workflows/documentation.yml
  .github/workflows/process-label.yml
Labels: Infrastructure

#7685 Pass component props to option processors
  lib/src/commands/LayoutTreeCrawler.test.ts
  lib/src/commands/LayoutTreeCrawler.ts
Labels: type: accepted/bug

#7686 Add headless tests for better events coverage
  e2e/BackButton.test.js
  e2e/SideMenu.test.js
  e2e/StaticLifecycleEvents.test.js
  lib/Mock/Layouts/ComponentNode.ts
  package.json
  playground/src/screens/StaticLifecycleOverlay.tsx
Labels: Infrastructure
