Repository wix/react-native-navigation, pull requests merged in 2023-01, with the labels that each got.

#7662 Mock: Catch and log render errors
  lib/Mock/Components/LayoutComponent.tsx
Labels: Infrastructure, Navigation mock

#7669 Add new flavor for RN 0.71
  lib/android/app/build.gradle
  lib/android/app/src/reactNative71/java/com/reactnativenavigation/options/parsers/ColorParser.kt
  lib/android/app/src/reactNative71/java/com/reactnativenavigation/react/DevBundleDownloadListenerAdapter.java
  lib/android/app/src/reactNative71/java/com/reactnativenavigation/react/JsDevReloadHandlerFacade.java
  lib/android/app/src/reactNative71/java/com/reactnativenavigation/react/NavigationReactNativeHost.java
  lib/android/app/src/reactNative71/java/com/reactnativenavigation/react/ReactGateway.java
  lib/android/app/src/reactNative71/java/com/reactnativenavigation/react/ReloadHandlerFacade.java
  lib/android/app/src/reactNative71/java/com/reactnativenavigation/react/modal/ModalContentLayout.kt
  lib/android/app/src/reactNative71/java/com/reactnativenavigation/viewcontrollers/viewcontroller/YellowBoxHelper.java
Labels: platform: Android, type: accepted/bug

#7672 Update BUG_REPORT_IOS.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_IOS.yml
Labels: Infrastructure

#7673 Fixed back button handling on Android
  .github/workflows/documentation.yml
  lib/android/app/src/main/java/com/reactnativenavigation/NavigationActivity.java
  website/package.json
Labels: platform: Android, type: accepted/bug
