Repository wix/react-native-navigation, pull requests merged in 2024-04, with the labels that each got.

#7857 Call NavigationActivity super.onRequestPermissionsResult
  lib/android/app/src/main/java/com/reactnativenavigation/NavigationActivity.java
Labels: type: accepted/bug

#7864 feat: redo rn 73 support
  .buildkite/pipeline.yml
  .nvmrc
  ReactNativeNavigation.podspec
  lib/android/app/build.gradle
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/topbar/button/ButtonPresenter.kt
  lib/android/app/src/test/java/com/reactnativenavigation/EnvironmentTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/TestApplication.java
  lib/ios/RNNAppDelegate.mm
  lib/ios/RNNReactView.h
  lib/ios/RNNReactView.mm
  metro.config.js
  package.json
  playground/android/app/build.gradle
  playground/android/app/src/main/java/com/reactnativenavigation/playground/FragmentComponent.java
  playground/android/build.gradle
  playground/android/gradle/wrapper/gradle-wrapper.properties
  playground/ios/Podfile
  playground/ios/playground.xcodeproj/project.pbxproj
  playground/ios/scripts/pre-install.js
Labels: type: accepted/enhancement

#7807 fix(iOS): implement `scaleX` and `scaleY` transition animations.
  lib/ios/ElementAnimator.m
  lib/ios/HorizontalScaleTransition.h
  lib/ios/HorizontalScaleTransition.m
  lib/ios/TransitionOptions.m
  lib/ios/VerticalScaleTransition.h
  lib/ios/VerticalScaleTransition.m
Labels: platform: iOS, type: accepted/bug, feature: Animations

#7867 [iOS] Fabric renderer fix
  lib/ios/RNNReactView.mm
Labels: platform: iOS, type: accepted/bug
