Repository wix/react-native-navigation, pull requests merged in 2024-10, with the labels that each got.

#7922 fix(ios): ensure correct initial tab is rendered when onSwitchToTab is set
  lib/ios/RNNBottomTabsController.m
  playground/ios/NavigationTests/RNNCommandsHandlerTest.m
Labels: platform: iOS, type: accepted/bug

#7923 chore: upgrade react-native-blur version.
  package.json
Labels: platform: Android, type: accepted/bug

#7925 fix(ios): avoid setting selected-index before setup has finished.
  lib/ios/RNNBottomTabsController.m
  playground/ios/NavigationTests/RNNCommandsHandlerTest.m
Labels: platform: iOS, type: accepted/bug

#7777 fix: typo in stack-buttons docs
  website/versioned_docs/version-7.37.0/docs/stack-buttons.mdx
Labels: type: documentation
