Repository wix/react-native-navigation, pull requests merged in 2024-05, with the labels that each got.

#7869 [CI] Migration to M2 agents
  e2e/assets/buttons_navbar.ios.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_translucent_background_pop@3x.png
  playground/ios/SnapshotTests/ReferenceImages_64/StackOptionsTest/testStack_topBar_translucent_background_root@3x.png
Labels: platform: iOS, platform: Android, type: accepted/enhancement

#7880 Fix pod install regression, causing build failure
  playground/ios/Podfile
Labels: platform: iOS, type: accepted/enhancement

#7866 added title and subtitle testIds
  e2e/Stack.test.js
  lib/Mock/Components/TopBar.tsx
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/TopBar.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleAndButtonsContainer.kt
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleSubTitleLayout.kt
  lib/android/app/src/test/java/com/reactnativenavigation/views/TitleSubTitleLayoutTest.kt
  lib/ios/RNNTitleViewHelper.h
  lib/ios/RNNTitleViewHelper.m
  lib/ios/TopBarTitlePresenter.m
  playground/src/screens/StackScreen.tsx
  playground/src/testIDs.ts
Labels: type: accepted/enhancement, Navigation mock

#7882 RN 73 - Android fixes
  lib/android/app/build.gradle
  lib/android/app/src/main/AndroidManifest.xml
Labels: Infrastructure
