Repository wix/react-native-navigation, pull requests merged in 2025-05, with the labels that each got.

#8015 iOS: RN 77 no lifecycle events for Top Bar Title component
  e2e/StaticLifecycleEvents.test.js
  lib/ios/TopBarTitlePresenter.mm
Labels: platform: iOS, type: accepted/bug

#8017 Mocked side-menus - support
  e2e/SideMenu.test.js
  lib/Mock/Components/ComponentScreen.tsx
  lib/Mock/Components/LayoutComponent.tsx
  lib/Mock/Components/SideMenu.tsx
  lib/Mock/Layouts/BottomTabsNode.ts
  lib/Mock/Layouts/LayoutNodeFactory.ts
  lib/Mock/Layouts/ParentNode.ts
  lib/Mock/Layouts/SideMenu.ts
  lib/Mock/Stores/LayoutStore.ts
  lib/Mock/actions/layoutActions.ts
  lib/Mock/mocks/NativeCommandsSender.tsx
Labels: type: accepted/enhancement, feature: SideMenu, Navigation mock

#8031 Feat/8011 rn77 na android enable native unit tests
  lib/android/app/build.gradle
  lib/android/app/src/main/java/com/reactnativenavigation/react/ReactComponentViewCreator.java
  lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/viewcontroller/ReactViewCreator.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/component/ComponentViewCreator.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/TopBarBackgroundViewCreator.java
  lib/android/app/src/main/java/com/reactnativenavigation/views/stack/topbar/titlebar/TitleBarReactViewCreator.java
  lib/android/app/src/test/java/com/reactnativenavigation/BaseRobolectricTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/EnvironmentTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/mocks/TestComponentViewCreator.java
  lib/android/app/src/test/java/com/reactnativenavigation/options/LayoutNodeParserTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/options/OptionsTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/options/TransitionAnimationOptionsTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/options/parsers/BoolParserTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/options/parsers/ColorParseTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/options/parsers/JSONParserTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/utils/ButtonSpanTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/utils/CompatUtilsTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/utils/ReflectionUtilsTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/utils/StringUtilsTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/utils/SystemUiUtilsTest.kt
  lib/android/app/src/test/java/com/reactnativenavigation/utils/TitleAndButtonsMeasurer.kt
  lib/android/app/src/test/java/com/reactnativenavigation/utils/UiThreadTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/utils/UiUtilsTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/IdStackTest.java
  lib/android/app/src/test/java/com/reactnativenavigation/viewcontrollers/stack/StackPresenterTest.kt
Labels: type: accepted/enhancement
